[2022-07-06 18:21] andrewleith opened #757 "Create a healthcheck for the notify admin homepage"
Create a healthcheck for the homepage so we can be notified if it is ever down.

Tasks:
- [ ] Create a route 53 healthcheck in AWS
- [ ] Create a cloudwatch alarm to let us know if the healthcheck fails

[2022-07-06 21:07] adriannelee commented on #715
Had a sync with Yael about the findings from the analyses. Finalized the research plan.

[2022-07-06 22:02] jimleroyer commented on #756
@yaelberger-commits Just completed the report. 🙇‍♂️

[2022-07-07 12:42] yaelberger-commits opened #758 "[Stale] Contact a service about the freshdesk tickets we get on their behalf"
_Contact a service about the freshdesk tickets we get on their behalf_

## Description

We got a lot of these. I will contact the service to let them know and see if a reply-to address or contact information can be added to these messages

https://cds-snc.freshdesk.com/a/tickets/9425

[2022-07-07 13:05] YedidaZalik commented on #385
Draft ready for review by Yael and Sharly.
Will then implement their feedback before asking dev and security folk to review.

[2022-07-07 18:44] yaelberger-commits opened #759 "Initiate process to request clients rotate their API Keys"
_Initiate process to request clients rotate their API Keys_

## Description
Follow up task to the technical implementation of API key prefixes
https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/730

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our

[2022-07-07 18:46] yaelberger-commits opened #760 "[Stale] Conduct user research to learn how users store their API keys and their knowledge of security measures"
_Conduct user research to learn how users store their API keys and their knowledge of security measures_

## Description
Related to tasks #730 and #759

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

[2022-07-07 18:50] yaelberger-commits opened #761 "Create coded prototype for testing of disclosure and dialog menus for mobile"
In #582 the audit recommends prototyping 2 navigation patterns for mobile: disclosure and dialog. Right now we have mobile menus that open as overlays. The menus are the main menu and the account menu.

Creating a prototype of a disclosure navigation will allow us to test both with users and see which pattern is performing better. We should also aim to test with users using assistive technology.

[2022-07-07 18:51] yaelberger-commits commented on #761
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/761?planning-poker) with ZenHub @amazingphilippe @andrewleith @jzbahrai @jimleroyer @sastels

[2022-07-07 18:54] yaelberger-commits commented on #385
@sharlychan-cds please add your planning poker

[2022-07-07 19:38] amazingphilippe commented on #739
Spreadsheet guides drafts: (must be logged in to see)
https://notification.canada.ca/preview?id=195&lang=en
https://notification.canada.ca/preview?id=197&lang=en

[2022-07-07 19:47] yaelberger-commits opened #762 "Validate 15,000 phone numbers"
_Give your user story a simple, clear title_

## Description

A client needs to validate 15,000 phone numbers before doing a bulk send

WHY are we building?

WHAT are we building?
Using AWS Pinpoint to validate 15,000 phone numbers

VALUE created by our solution

## Acceptance Criteria** (Definition of done)

- [ ] make a python script with rate limiting, hitting pinpoint in mass in the meantime

[2022-07-08 15:37] #711 closed

[2022-07-08 15:37] #706 closed

[2022-07-08 15:37] #201 closed

[2022-07-08 15:37] #712 closed

[2022-07-08 15:37] #660 closed

[2022-07-08 15:38] #715 closed

[2022-07-08 15:45] yaelberger-commits opened #763 "User research with public servants re: SLOs"
## Description

As a Notify PM, I need to be able to understand users' needs and expectations around Notify's performance metrics and SLOs so that I can update and publish the product's SLOs with confidence that the product's goals are in line with meeting expectations of our users.

WHY are we building?
We haven't updated our SLOs since last year and we have never done a user research activity to

[2022-07-08 15:45] yaelberger-commits commented on #763
@adriannelee for refinement and discussion of whether to bring into next sprint. Feel free to add/edit this user story

[2022-07-08 15:46] #596 closed

[2022-07-08 15:46] #404 closed

[2022-07-08 15:49] yaelberger-commits commented on #401
Blocked by Bug #653

[2022-07-08 17:17] yaelberger-commits commented on #582
@andrewleith @jimleroyer @jzbahrai & @sastels please add your estimates for planning poker to this one

[2022-07-08 17:20] yaelberger-commits commented on #736
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/736?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-07-08 17:22] yaelberger-commits commented on #739
I reviewed in both EN and FR for any obvious issues and looks goo to me

[2022-07-08 17:23] yaelberger-commits commented on #739
Links also go to the correct guidance pages in EN and Fr for variables

[2022-07-08 17:24] yaelberger-commits commented on #739
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/739?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-07-08 17:25] yaelberger-commits commented on #152
@jimleroyer @jzbahrai @sastels Please add your estimates for planning poker

[2022-07-08 17:26] yaelberger-commits commented on #704
@sharlychan-cds please add your estimate

[2022-07-08 17:26] yaelberger-commits commented on #87
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/87?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-07-08 17:29] yaelberger-commits commented on #762
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/762?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-07-11 12:43] yaelberger-commits opened #764 "EXPLORE: SRE/Tech Ops team share file PoC (now with Scan files integration)"
_EXPLORE: SRE/Tech Ops team share file PoC (now with Scan files integration)_

## Description

Max worked on a proof-of-concept for securely sharing large files. The idea is that you have a UI that can upload files to an S3 bucket where they are encrypted. From the UI you can also generate temporary URLs that will expire after a certain amount of time which you can share with others. It lacks a lo

[2022-07-11 13:10] amazingphilippe commented on #582
Reviewed and merged. Waiting for next release

[2022-07-11 13:12] amazingphilippe commented on #582
Continuing this work with #761. We'll compare disclosure and overlay navigations

[2022-07-11 13:17] amazingphilippe commented on #579
Relevant to #579

[2022-07-11 13:17] amazingphilippe commented on #573
Relevant to #579

[2022-07-11 13:17] jimleroyer opened #765 "Align data retention period to 7 days for uploaded CSVs"
# Description

As a user of Notify,
I don't want my uploaded CSV to stay more than 7 days,
as the software claims the data retention is no more
and to have my data properly purged for security / privacy purposes.

## WHY are we building?

Align with our advertised data retention policy.

## WHAT are we building?

Bring down the data retention for uploaded CSV from 30 to 7 days.

## VALUE created b

[2022-07-11 13:22] jzbahrai commented on #753
This was fixed with this PR: https://github.com/cds-snc/notification-api/pull/1569
It has been deployed to production.

[2022-07-11 13:22] #753 closed

[2022-07-11 13:24] amazingphilippe commented on #410
Maybe a duplicate of #404

[2022-07-11 18:09] sastels commented on #762
No rate limiting here but maybe a good starting point / script we can improve
https://github.com/cds-snc/notification-attic/blob/main/scripts/validate_phone_numbers.py

[2022-07-11 18:09] yaelberger-commits commented on #267
Contact ATIP to see timelines
Incorporate changes from @sharlychan-cds
Nisa review
Translation
Could publish an interim version this sprint

[2022-07-11 18:22] yaelberger-commits opened #766 "Quick fix for service reporting bug"
# Bug description

The report download link for notifications sent by service is broken in the admin reports panel.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)

SEV-3 Minor

## To Reproduce

Steps to reproduce the behavior:

1. Go to the admin reports section.
2. Click on Monthly notification statuses for live services.
3. Select a time

[2022-07-11 18:26] yaelberger-commits commented on #87
@andrewleith Will update summary so we can estimate properly given some have been resolved

[2022-07-11 19:29] yaelberger-commits commented on #752
@YedidaZalik this could be another content task to look at soon

[2022-07-11 19:58] YedidaZalik commented on #752
@yaelberger-commits agreed! And possibly kind of pressing?

[2022-07-12 12:20] yaelberger-commits commented on #385
@YedidaZalik I have reviewed. I think it looks great. Nothing further to add or take away from me.

[2022-07-12 12:56] yaelberger-commits commented on #582
@amazingphilippe and @andrewleith Can you please update the Acceptance Criteria checklist as you go through QA?
Thanks

[2022-07-12 13:06] yaelberger-commits opened #767 "Update Contact Us page to improve recipient UX"
_Update Contact Us page to improve recipient UX_

## Description

As a recipient of a notification, I need to understand that I should reach out to the program or department that sent me the notification and not to GC Notify so that I can get answers to my questions or provide feedback to the right channel and avoid frustration from not hearing back from anyone.

As a Sender of notifications, I ne

[2022-07-12 13:07] andrewleith commented on #87
Updated and triaged list here: https://docs.google.com/spreadsheets/d/16CKFnP5Ap3bGwPMkx9Fq7yM2ngL107M008HKOJA0yhY/edit?usp=sharing

[2022-07-12 13:20] yaelberger-commits commented on #752
Yes, @YedidaZalik becoming more urgent with higher volume use cases, etc. We will bring this forward likely next week for refinement. Feel free to add ideas or acceptance criteria to the card until then

[2022-07-12 14:44] andrewleith opened #768 "License incompatibilities"
Snyk is reporting many libraries whose licenses are incompatible with our own (MIT).  Here is a list of them:

- rfc3987 (api) [gplv3]
- strict-rfc3339 (api) [gplv3]
- unidecode (api) [gplv3]
- translate-toolkit (admin) [gplv3]

After some discussions with the SRE team, it appears we have a few options here:
1. Replace the libraries that are being flagged with ones that are compatible with our lic

[2022-07-12 14:45] andrewleith commented on #768
Related to #87

[2022-07-12 15:45] amazingphilippe commented on #582
Found an error with the dialog. We place a label on a div and that's not allowed! I can't find direct quote on this, but it seems aria-labelledby is preferred for dialogs.

[2022-07-12 18:11] jimleroyer opened #769 "Remove public and service agreements in notify"
# Description

As a developer,
I want less code to maintain,
so that I can increase development velocity within the dev team.

As a policy person,
I want to review the unused/missing functionality for public and service agreements,
and provide my opinion if we want to keep or if we're good to remove.

## WHY are we ~~building~~ destroying 💥?

To move faster and get rid of the cruft. ☠

## WHAT are

[2022-07-12 18:30] yaelberger-commits commented on #769
Question for @sharlychan-cds
Before we delete any of this code, should we assess if any of it might come in useful if we do ever introduce billing and/or account management?
@jimleroyer we wouldn't want to delete these pages to just have to recreate them, right?
cc @amazingphilippe as well

[2022-07-12 19:14] jzbahrai commented on #765
Ran this query and it returned empty:
aws s3api list-objects-v2 --bucket notification-canada-ca-production-csv-upload  --query 'Contents[?LastModified<=`2022-07-05`].Key'

[2022-07-12 19:14] #765 closed

[2022-07-12 19:47] sastels commented on #653
The long term fix is to ensure that api returns data in a consistent format (preferably using dicts rather than lists where possible).

[2022-07-12 20:12] jimleroyer commented on #766
PR to fix this bug:
https://github.com/cds-snc/notification-admin/pull/1298

[2022-07-12 21:19] jimleroyer commented on #769
We could easily bring back these if we need to. The way that GDS Notify shows their agreements is raising questions from me though. They seem to have one agreement per service and a public agreement (for which we have no link to target to).

We can check or ask GDS what actually these are. It is unsure and we can always add ours in some other ways, effort should be minimal.

[2022-07-13 12:00] andrewleith commented on #582
Yeah looks like you can't use `aria-label` on non-interactive content, but you can on particular roles (such as `navigation` [and possibly `dialog` since it isn't complaining about `<div role="dialog" aria-label="Main menu">`]).  @amazingphilippe where are you seeing the issue?  I don't see any issues on the main menu.  Is it this:
[code]
If so, we can probably just omit that entirely and move it

[2022-07-13 12:09] andrewleith commented on #582
Local axe dev tools didn't report either of these issues.  Maybe because I'm using the free version?
Also just want to note that these are both pre-existing issues.

[2022-07-13 12:46] yaelberger-commits commented on #769
@jimleroyer thanks for explaining that. I'm ok to add their removal to the backlog, but I think it's low priority. Any reason why you think it should be done with more urgency?

[2022-07-13 12:50] yaelberger-commits commented on #410
@amazingphilippe #404 was specifically about guidance for sending bulk using a spreadsheet.
I think this one is broader than that, and speaks to users' difficulty finding guidance for formatting and personalizing messages at the actual moment they need that guidance, when they are creating and editing a template.
Perhaps some of the changes to the guidance section has resolved some of this, but is

[2022-07-13 12:51] yaelberger-commits commented on #738
@amazingphilippe is this blocked by the translation bug?

[2022-07-13 12:56] yaelberger-commits commented on #763
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/763?planning-poker) with ZenHub @adriannelee @amazingphilippe @sharlychan-cds @YedidaZalik

[2022-07-13 13:07] adriannelee commented on #176
Flask upgraded and PR merged - spend some time today going through it together (main code paths) and next is to document the API

[2022-07-13 13:10] adriannelee commented on #659
Steve and I to do QA today

[2022-07-13 13:13] adriannelee commented on #736
Steve started on QA list. No release yet. If it works with the next release, it's passed QA.

To test in production (Jimmy) to check it's passed QA (hooked into the new keys)

[2022-07-13 13:21] adriannelee commented on #29
PR up yesterday

[2022-07-13 13:23] adriannelee commented on #152
Jumana will close this one - two work streams came out of this - Steve is working on the other one. Jumana will go through the acceptance checklist

[2022-07-13 13:23] adriannelee commented on #766
Has been reviewed - QA is to make sure the change is working.

[2022-07-13 13:25] adriannelee commented on #738
Blocked by SRE team/access - not clear exactly

[2022-07-13 13:27] sharlychan-cds commented on #766
tested this morning, not working yet.

Same error, website says: "Sorry, we’re experiencing technical difficulties. Try again later."

Browser tab says "server error - Notify"

[2022-07-13 13:27] adriannelee commented on #87
Updated admin. One is a license issue - not a code issue. The other is a library that has no [?]

Doing the scheduler this morning.

[2022-07-13 13:39] jimleroyer opened #770 "Update Kubernetes worker to 1.22.9-20220629"
# Description

As a stakeholder of Notify,
I want the software kubernetes stack updated to its latest,
So that I have a safe and secure environment.

## WHY are we building?

Security, features, maintenance.

## WHAT are we building?

Updating to the latest version of the kubernetes stack.

## VALUE created by our solution

Security, features, maintenance.

# Acceptance Criteria** (Definition of d

[2022-07-13 13:40] jimleroyer commented on #770
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/770?planning-poker) with ZenHub @patheard

[2022-07-13 14:36] amazingphilippe commented on #739
Updates done. looking fro someone not Yedida or Phil to go through the QA steps

[2022-07-13 14:57] yaelberger-commits commented on #419
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/419?planning-poker) with ZenHub @adriannelee @amazingphilippe @sharlychan-cds @YedidaZalik

[2022-07-13 17:13] amazingphilippe commented on #410
Yes you are right, this is probably what I was getting at. There is a better guidance index now, and the updates to the edit-template screen will address this. Given the issues # are pretty close, I think we probably just forgot to bring this one along as we designed the help card component.

[2022-07-13 17:25] yaelberger-commits commented on #410
I will close it then @amazingphilippe
We need to update the research airtable to show where we've completed this work. Can you link to the Figma artifacts in airtable please?

[2022-07-13 17:26] #410 closed

[2022-07-13 18:13] adriannelee commented on #659
QA'd by me!

[2022-07-13 18:15] jimleroyer opened #771 "Customize the SMS Stop/Help messages"
## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user story emerged from User Research insights:
- [ ]

[2022-07-13 18:36] sastels commented on #659
LGTM too

[2022-07-13 18:46] sastels opened #772 "Admin unit test uses 3rd party service"
The test in admin `test_blocklist1_can_contact_hibp_api()` actually goes out to `pwnedpasswords`. This leads to test failures if there's a problem with pwnedpasswords' api.

It's not a great practice to have unit tests that require internet resources. We should consider eliminating this test, and instead adding  a warning to `Blocklist.__call__()` when the code falls back to using our stored list

[2022-07-13 18:59] adriannelee commented on #763
Made small edits to the card description & updates to the research plan.

[2022-07-13 19:02] andrewleith opened #773 "Admin reports not working correctly"
## Describe the bug

Two reports are currently not working properly:
1. [trial services csv report](https://staging.notification.cdssandbox.xyz/platform-admin/reports/trial-report.csv)
2. [Sending method: services sending via API vs. User Interface](https://staging.notification.cdssandbox.xyz/platform-admin/reports/send-method-stats-by-service)

For each report, instead of data, the row headers ar

[2022-07-13 20:08] YedidaZalik commented on #752
Thanks @yaelberger-commits I've added one criteria and may add more if I think of some

[2022-07-13 20:32] adriannelee commented on #739
https://notification.canada.ca/guides-reference:

- [ ] Do we want to link to the API documentation on the first paragraph where it mentions it?
- [ ] "Apprenez à" is placed on a new line on Figma, under #2
- [ ] Under #4, the two sentences are on separate lines on Figma

https://notification.canada.ca/guide-mise-en-forme

- [ ] On Figma, "envoyer des messages avec du contenu personnalisé." is the

[2022-07-14 12:45] jimleroyer commented on #772
Could we categorize these tests with pytest and run these separate? I am not sure we'll check the warnings; if the site goes down, how do we surface it?

[2022-07-14 13:56] amazingphilippe commented on #739
I did the opposite and kept personalisation-guide to avoid breaking other links in the app.

[2022-07-14 14:01] amazingphilippe commented on #739
Some examples will stack for readability on smaller screens!

[2022-07-14 15:00] yaelberger-commits commented on #419
![Screen Shot 2022-07-14 at 11.00.05 AM.png](https://images.zenhubusercontent.com/618bd78afce6ad0aa17d429c/d05f96b1-f10a-4ecf-865e-caa2c5a2eb50)

[2022-07-14 17:17] jimleroyer commented on #29
There are two tests left to [re-implement before closing this issue](https://github.com/cds-snc/notification-api/pull/1570/files#r919416342):
* test_should_not_save_email_if_restricted_service_and_invalid_email_address
* test_should_not_save_sms_if_team_key_and_recipient_not_in_team

[2022-07-14 17:29] jzbahrai opened #774 "Need to add new test after cleanup"
## Description

We need to add a new test regarding this test case:
https://github.com/cds-snc/notification-api/pull/1570/files#diff-3d49ca02b37d5d2094c793bf77b4e0d7fdddf6938c4bffe931bd3efb6df2d744L991

It should have been added in this PR: https://github.com/cds-snc/notification-api/pull/1502/files
but it wasn't.

## Acceptance Criteria** (Definition of done)

- [ ] Test should be added to for th

[2022-07-14 19:09] yaelberger-commits opened #775 "Write email content to notify users we have updated our Terms of Use"
_Write email content to notify users we have updated our Terms of Use_

## Description

As a current Notify user, I need to receive notification that the Terms of Use have been updated so that I can know what contract I'm agreeing to by continuing to use Notify.

As the Notify team, I need to notify current users that our Terms of Use and other policy documentation have been updated so that I can

[2022-07-14 19:41] sastels commented on #762
Just a note that if we ever add validation into the sending sms flow we should hash the number and store a table with the hash and the validation result. This way we wouldn't have to validate a number twice.

[2022-07-14 19:55] adriannelee commented on #739
Ahh, ok. But we'd still refer to /custom-content
/custom-content#filter
/custom-content#fill from https://notification.canada.ca/guidance no? Currently, all 3 point to https://notification.canada.ca/personalisation-guide

[2022-07-14 20:10] jzbahrai commented on #762
After speaking to Yael, this ticket is not ready to be worked on. I am putting it back in product backlog.

[2022-07-15 12:35] andrewleith commented on #87
All done. Remaining issues that cannot be fixed:
- License issues (affecting admin and api) - this has been moved into its own card #768
- 1 high severity issue affecting admin - `flask-caching` library has no remediation available yet

[2022-07-15 13:28] mohamed-cds commented on #658
If you want to see the new patch management setup in action take a look at https://github.com/cds-snc/scan-websites/issues/322. This is a dashboard that the new tool "renovate" will maintain to help you keep track of what needs to be patched.

How to add it to you repo (my team can help):
1. Give the Renovate GitHub app permission on the repo; and
1. Submit a PR to the repo to add the [Renovate co

[2022-07-15 15:54] andrewleith commented on #581
Looks good!

[2022-07-15 15:58] andrewleith commented on #560
@amazingphilippe  It seems like we still have an unlabelled nav element, just under the "Your account and language" nav:
[code]
Should we have nested navs here?

[2022-07-15 16:00] andrewleith commented on #577
Looks good.

[2022-07-18 12:28] andrewleith commented on #582
@amazingphilippe yeah I think so too. Moving the `aria-label` from the `div` down to the `button` and removing in entirely from the `img` should satisfy all of this.  I'm not sure why the tools didn't complain about the `aria-label` on the `img` tag, since it isn't interactive either.

@yaelberger-commits would you like me to tackle the remaining issues in this sprint? The menu ones are easy but t

[2022-07-18 13:02] amazingphilippe commented on #560
No! We can make a new PR for this

[2022-07-18 13:05] adriannelee commented on #582
Might split off menu issues and modal issues into separate cards

[2022-07-18 13:05] adriannelee commented on #176
Need to do document download API

[2022-07-18 13:10] adriannelee commented on #87
Have to decide what to do with license issues. Need to talk about extra issues with dev team

[2022-07-18 13:16] jzbahrai commented on #763
Survey has been drafted, and is going to be demo'd today

[2022-07-18 13:44] andrewleith opened #776 "Remove nested nav element"
There are nested nav elements still in the main element:
[code]
https://github.com/cds-snc/notification-admin/blob/main/app/templates/partials/nav/account_menu.html#L2

Remove nested nav elements and replace with appropriate markup.

[2022-07-18 13:44] andrewleith commented on #560
New card for remaining issue: https://github.com/cds-snc/notification-planning/issues/776

[2022-07-18 13:57] amazingphilippe commented on #659
Some minor suggestions in French. Considering this is already merged, we can choose to do them or not.

[2022-07-18 15:19] jimleroyer commented on #29
Talked with Jumana, we'll bring this back to the sprint backlog to complete the two missing tests.

[2022-07-18 17:39] amazingphilippe commented on #659
Changes appaer correctly on the documentation site. Closing now

[2022-07-18 22:23] jimleroyer commented on #624
Client [responded back on the ticket](https://cds-snc.freshdesk.com/a/tickets/9116), saying they might need this sooner than later. [Opened a PR](https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/624) for that to test it out.

[2022-07-18 22:23] jimleroyer commented on #624
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/624?planning-poker) with ZenHub @mohamed-cds @sastels

[2022-07-19 12:32] yaelberger-commits commented on #582
I think splitting them off with the modal/focus issues in a separate card sounds like the path forward.
We can continue tackling the aria issues this sprint and see about the Modal ones for next perhaps

[2022-07-19 13:54] yaelberger-commits commented on #624
If the size of this task is relatively small, we could bring this in for the next sprint to tackle within the next 3 weeks to meet the client's needs.

[2022-07-19 15:02] andrewleith commented on #87
This is complete.  The one remaining issue has been deemed not an actual vulnerability, and we will snooze the other issues so this is now done.

[2022-07-19 15:27] andrewleith opened #777 "Upgrade all python projects to latest version possible"
Update our python projects to the latest version possible (depending on our library compatibilities).

Python [versions are here](https://www.python.org/doc/versions/)

Projects:
- notification-api
- notification-admin
- notification-utils
- notification-document-download-api

[2022-07-19 15:58] yaelberger-commits commented on #709
Reopening as we don't have another card for SLOs

[2022-07-19 17:22] #709 closed

[2022-07-19 17:29] #776 closed

[2022-07-19 18:04] andrewleith commented on #582
Menu issues addressed in cds-snc/notification-admin#1302

[2022-07-19 18:06] adriannelee commented on #739
Ah, ok - so we want to keep it pointing to https://notification.canada.ca/personalisation-guide?

The French links now link 👍

I was thinking maybe we could use content? Like "Example Title" or something?

[2022-07-19 21:18] jimleroyer commented on #624
We tested the change in staging and it didn't work as expected (and estimated -- this will be more points). This requires the SRE team intervention. @mohamed-cds kindly volunteered to help us on that one, bringing a solution on the table that will unblock us on this. There is no hurry as we'd have 1 month but they might have time for us this week to push forward.

[2022-07-20 13:02] yaelberger-commits commented on #738
@amazingphilippe can you please check off the list above? Thanks

[2022-07-20 13:03] adriannelee commented on #739
New alt-text, examples being looked at today by Phil and Yedida.

I'll continue with the manual testing

[2022-07-20 13:10] adriannelee commented on #176
Still looking for a review - THANKS JUMANA

[2022-07-20 13:12] adriannelee commented on #763
Created the survey Qualtrics, it's up for review by Yael, Jimmy, Yedida

I'm going to start on the other materials (privacy, invite email, invite list, etc)

[2022-07-20 13:13] amazingphilippe opened #778 "Focus management on dialog menus"
### Continues #582

## Description

The mobile navigation menus are presented like dialogs, although missing the necessary aria roles. However, it may be more understandable to treat the mobile menu as a disclosure navigation pattern. Some related changes would be to preserve the visibility of the original button as a means to close the menu, and tabbing through the menu would also close it. It ma

[2022-07-20 13:16] adriannelee commented on #29
Moving to done, since there isn't much that can be QA'd

[2022-07-20 13:17] adriannelee commented on #730
Andrew starting on this, with the ADR.

[2022-07-20 13:19] adriannelee commented on #267
Sharly is adding a couple of new clauses and figuring out who needs heads up.

[2022-07-20 13:20] amazingphilippe commented on #738
In the static folder in both staging and production asset compartments

- features/
    - features-api-en.svg
    - features-api-fr.svg
    - features-branding-en.svg
    - features-branding-fr.svg
    - features-dashboard-en.svg
    - features-dashboard-fr.svg
    - features-personalize-en.svg
    - features-personalize-fr.svg
    - features-recipients-en.svg
    - features-recipients-fr.svg

[2022-07-20 13:24] sastels opened #779 "Allow a service to send xml files"
Service `a7ef2e53-42ab-4b16-9a5b-e623fb778074` would like to send kml files (which are really xml)

See https://cds-snc.freshdesk.com/a/tickets/9452

A similar change (for a different service) was done [here](https://github.com/cds-snc/notification-manifests/pull/887)

Requirements:
- [x] new permissions added to prod env vars in manifest repo
- [x] manifest repo released to production
- [x] user

[2022-07-20 13:57] yaelberger-commits opened #780 "Raise SMS annual limits to 100k from 25k"

[2022-07-20 14:03] amazingphilippe commented on #582
Created a new issue for the remaining focus management work. Tested one last time and looks good!

[2022-07-20 14:09] sastels commented on #780
Tangentially related: should we have different daily limits for SMS vs emails? It would be good to know about (and have to approve) large sms sends

[2022-07-20 14:15] jimleroyer commented on #780
Related cards:

* [Investigate Bulk SMS blocking priority SMS](https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/731)
* [Research Questions: Get a pool of 100 Canadian longcodes?](https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/340)

[2022-07-20 14:15] adriannelee commented on #739
Manually a11y scan

https://notification.canada.ca/guidance
- `API documentation` is missing a hyperlink? I wasn't sure because the Figma also doesn't show hyperlinks. But https://notification.canada.ca/guides-reference there is a hyperlink for this text

✅ https://notification.canada.ca/guides-reference
✅ https://notification.canada.ca/feuille-de-calcul
✅
 https://notification.canada.ca/spreadshe

[2022-07-20 14:19] yaelberger-commits opened #781 "Raise annual SMS volume from 25K to 100K"
Some users want to use Notify to send larger volumes of SMS per year than Notify currently allows because we have been limited by not having cost recovery, accounting and billing in place.

We would like to be able to offer up to 100K free SMS a year to services that need that volume to meet their operational needs.

- [x] our team knows how many real texts we send a day
- [ ] weekly report and PM

[2022-07-20 14:31] sastels commented on #82
New query
[code]

[2022-07-20 14:39] sastels commented on #82
big templates
[code]

[2022-07-20 15:04] yaelberger-commits commented on #781
it looks like our free sms limits are actually 100K right now
all services are type "central" which have a 100K limit

[2022-07-20 15:34] mohamed-cds commented on #624
What i propose is we split this into two tasks:
1. Getting the current cert update into production
2. Refactoring terraform so that alt names can be added without requiring manual intervention

What we did for Item `#1`:
- Merge https://github.com/cds-snc/notification-terraform/pull/493. The terraform apply will create the new certificate but cannot delete the old since it's still in use by the Ap

[2022-07-20 15:47] jimleroyer commented on #624
This is planned to go in production on July 21th, 2022, 16h30 EST.

[2022-07-20 21:20] jimleroyer commented on #176
Reviewed, looks good and ready to be merged.

[2022-07-21 14:34] yaelberger-commits commented on #325
We would still have sensitive services, but less. Do we want to be able to track it?
We could create a table in the database and make a screen in the admin section, not surfaced to users.
Instead of reports, data is available dynamically when needed in the Admin interface

[2022-07-21 14:36] sastels commented on #325
Note that we can query the logs from python using boto
https://stackoverflow.com/questions/59240107/how-to-query-cloudwatch-logs-using-boto3-in-python

[2022-07-21 15:04] yaelberger-commits commented on #359
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/359?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-07-21 15:05] yaelberger-commits commented on #767
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/767?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-07-21 15:18] yaelberger-commits commented on #752
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/752?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-07-21 15:19] yaelberger-commits commented on #413
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/413?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-07-21 15:21] adriannelee commented on #413
Would we include testing for this card?

[2022-07-21 15:31] yaelberger-commits commented on #708
GDS has a limit of 2 MB

[2022-07-21 15:32] yaelberger-commits commented on #708
Could potentially be solved by file sharing solution

[2022-07-21 15:33] yaelberger-commits commented on #764
Related bug: https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/708

[2022-07-21 15:39] yaelberger-commits commented on #708
Solution for now:
- [ ] Update documentation to reflect that this is permanent and that we will not be raising it back to 10 at this time and get back to users who reached out via support about this issue

[2022-07-21 15:45] yaelberger-commits commented on #529
Self-service solution we would need to replicate AWS feature ourselves

[2022-07-21 15:48] yaelberger-commits commented on #529
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/529?planning-poker) with ZenHub @andrewleith @jimleroyer @sastels @jzbahrai

[2022-07-21 15:48] yaelberger-commits commented on #529
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/529?planning-poker) with ZenHub @amazingphilippe

[2022-07-21 17:50] jimleroyer commented on #722
Mohammed [provided this example](https://github.com/cds-snc/covid-alert-portal/blob/5ad1d2ad81b13824d913e47383cbaf5f8f25f5c2/config/terraform/aws/waf.tf#L313-L344) to start with, for a scenario where we want to block all traffic from outside of Canada. This can be considered for the API and document download components but we might want a softer rate limiting approach for the admin (to keep it ope

[2022-07-21 19:07] amazingphilippe commented on #579
Fixed in https://github.com/cds-snc/notification-admin/pull/1301

[2022-07-21 19:07] #579 closed

[2022-07-21 19:13] amazingphilippe commented on #327
Just realized I never linked the protoypes created for this: https://www.figma.com/file/fRVRKm7cM8MUuBWUJbrfgU/Sending-from-web-interface-%7C-Envoyer-par-interface-web?node-id=5276%3A22107

[2022-07-21 19:36] yaelberger-commits commented on #610
"Is there a content style guide/guidance doc, blog post or information you provide to clients for writing subject lines, plain language emails and trustworthy emails for the notify platform? We’d love to continue supporting the efforts to use this tool and we wanted to be in step with your team’s best advice." - Stakeholder

[2022-07-21 20:00] amazingphilippe commented on #316
Some ideas:

- include creating a footer or a permanent section in all emails. Something like seen on .gov websites:
![image.png](https://images.zenhubusercontent.com/614b439e980ccd4137400d3e/cab14d8c-f562-4641-b4da-f5f228009cb3)
- have a list of valid sender addresses that people can reference on a canada.ca website.
- think like scammers:
![image.png](https://images.zenhubusercontent.com/614b439

[2022-07-22 13:43] adriannelee commented on #763
Privacy and email invite were drafted and sent to translations.

Incorporated changes to the survey based on feedback - some more changes are pending. I haven't sent to translations yet because I want to make sure the linkage between our database and Qualtrics won't require changes to the questions and answer options.

Working on linking template names from the invite to the survey. Need dev help

[2022-07-22 13:55] sastels commented on #722
Can also have a general rate limit rule
![image.png](https://images.zenhubusercontent.com/614cd50770420efff7535b31/8658220a-47f4-4142-aa33-86e17cb02774)

[2022-07-22 17:11] yaelberger-commits commented on #781
Somehow this service has 250,000 free SMS limit in their settings. Not sure how?
https://notification.canada.ca/services/e31c03b2-450d-45f6-8a5d-ec2f3036154e/service-settings

[2022-07-22 17:31] yaelberger-commits commented on #82
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/82?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels @adriannelee @amazingphilippe @YedidaZalik

[2022-07-22 17:47] yaelberger-commits commented on #390
Is this still relevant @YedidaZalik?
Could we publish SLA v1.5 as-is and bring in a new card if/when we have a need to update it?
https://docs.google.com/document/d/1hi2s1PJsbmo2pquG-WPm67MKKEDc8p60d7hW8E3nJCo/edit?usp=sharing

[2022-07-22 18:23] jimleroyer commented on #82
This might be considered done based on @sastels previous comments. Also, if that is a spike, we might not want to estimate this, or maybe provide a low estimation number by default if we want to keep track of some effort into the team's velocity.

[2022-07-25 13:04] adriannelee commented on #653
Jumana will try to replicate the issue on her computer today

[2022-07-25 13:05] adriannelee commented on #743
Andrew will/have reviewed this one - he'll doublecheck

[2022-07-25 13:05] adriannelee commented on #176
Andrew is still working on document download API, will ask Steve for help today

[2022-07-25 13:08] adriannelee commented on #763
I'll get help from Andrew today

A note that we're decoupling the user research from updating the SLO (for alarms)

[2022-07-25 13:09] adriannelee commented on #740
Andrew will review this PR today

[2022-07-25 13:10] adriannelee commented on #385
Yedida will send to translations today

[2022-07-25 13:11] adriannelee commented on #624
Jimmy:

[2022-07-25 13:11] adriannelee commented on #730
Getting the ADR reviewed by devs

[2022-07-25 13:12] amazingphilippe commented on #739
More info here: https://www.w3.org/TR/WCAG20-TECHS/G183.html
Since we also use underlines, and the underline changes on hover or focus, we are good! This applies only to paragraphs of text.

[2022-07-25 13:13] adriannelee commented on #267
Sent to OCIO, waiting to hear back

[2022-07-25 14:27] andrewleith commented on #743
I think the new design is much cleaner and the new component will be nicely reusable.

I have a concern that users may not know how to initially send a notification when they land on their dashboard, though,  as there is no wording that lets them know specifically what path to "send".

In order to send a message, a user must first create a template which is explained in the intro paragraph.  Once

[2022-07-25 17:22] yaelberger-commits commented on #82
I wouldn't consider it done yet @jimleroyer because we only solved for part of the user story for us as admins, but the user still has no way to know how many messages they've actually sent.
I think we could create a new card though for surfacing to the Sender how many actual text messages they've sent and then close this one?

[2022-07-25 20:10] jzbahrai opened #782 "SQLAlchemy reports a relationship warning after upgrade"
# Describe the bug

Since we upgraded the SQLAlchemy library following the werkzeug 2 upgrade, we started to see relationship warnings related to SQLAlchemy:

[code]

# [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-3 Minor

# Expected behavior

We shouldn't see this error in the logs

# Impact

Unsure wha

[2022-07-25 21:03] jzbahrai commented on #653
I ran this
[code]

for api-lambda logs for the past 2 weeks and didn't see any similar errors to the ones stated above - returning dicts or lists

[2022-07-25 21:28] adriannelee commented on #739
https://notification.canada.ca/formatting-guide
- [ ] Should "Titre français", "Texte en français" read in French? (Should the language tag be set to french here?)
https://notification.canada.ca/guide-mise-en-forme
- [ ] Same as for the English page, but for the English text.

I _think_ the QA is done, except for those example headings and the above 2 points?

[2022-07-26 11:13] andrewleith opened #783 "Links with variables render invalid markup when previewing templates"
## Describe the bug

In a template, when you use a link with a variable in it, i.e.:
[code]

invalid markup is rendered in the preview:
[code]

The error, according to NU Validator is:
`Illegal character in path segment: space is not allowed.`

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
SEV-4

## To Reproduce

Steps to reproduce the beha

[2022-07-26 15:47] yaelberger-commits commented on #743
I think a meeting is needed between design and Andrew, Jimmy and Yael to discuss further Andrew's feedback. While the changes we made improved the experience in many ways, by removing Write and Send we may have introduced some additional confusion. Also we include Edit in the mix as a step that's lumped together with Send. Perhaps there are some further content or design changes we can make before

[2022-07-26 17:36] sastels commented on #722
[This documentation](https://aws.amazon.com/blogs/security/three-most-important-aws-waf-rate-based-rules/) looks useful, in particular the "Set up Athena to analyze AWS WAF logs" section

[2022-07-26 21:37] sastels commented on #722
Data to use to set limits
We should be able to set a WAF limit of 400 - 500 hits per 5 minutes on admin

https://docs.google.com/spreadsheets/d/1Na1ybN1WNJzHFiAEkB97neCkpfpCBrfeRYQjfGKa3mI

[2022-07-27 12:10] yaelberger-commits commented on #743
From @YedidaZalik
Looking at this in more detail, I think it's good feedback and we may not need a meeting to implement it. Offhand, I could see replacing the "Get started" heading with "Write and send messages". Then in the paragraph below, we'd remove "To send a message" and the sentence would begin with "Always".

[2022-07-27 13:02] adriannelee commented on #739
Phil will take a look today

[2022-07-27 13:03] adriannelee commented on #770
Jimmy will take a look today

[2022-07-27 13:06] adriannelee commented on #653
Jumana will wrap this card up - end of time boxing

[2022-07-27 13:15] adriannelee commented on #763
Andrew tried to pull the data - might reach out to Steve for formatting the data.

I'll schedule a sync with Andrew today, and reach out to Jumana as well if needed

[2022-07-27 13:18] adriannelee commented on #350
Jimmy picking this up today, will chat with Steve. PR is already open,. 50% done

[2022-07-27 13:22] adriannelee commented on #624
Blocked by client and their configuration. We'll need to negotiate how much we change our configuration vs them changing theirs

[2022-07-27 13:23] jimleroyer commented on #624
Waiting for users to reply back as per previous Adrianne's comment. We'll see what they say on the suggestion we have for them with a tweak to their configuration and then concert on options.

[2022-07-27 13:24] adriannelee commented on #730
Andrew working on incorporating feedback. Another card for communicating the change.

[2022-07-27 13:25] adriannelee commented on #401
Yael will update today.

[2022-07-27 13:26] adriannelee commented on #240
PR is approved, will merge to staging

[2022-07-27 13:30] adriannelee commented on #767
Depends on the no-reply card

[2022-07-27 13:41] YedidaZalik commented on #752
Attaching my notes
https://docs.google.com/document/d/1k15RjiA5WKF8bpvU1xktGc_ypH9xT_9BXGy-5sNUgww/edit#

[2022-07-27 13:42] yaelberger-commits opened #784 "Notify clients to change their API keys to new format - Email Ticket"
_Notify clients to change their API keys to new format_

## Description

As a current Notify user, I need to be aware that Notify has changed the format for API keys to include a prefix for security scanning so that I can change my API key to the new format before the grace period ends and my application breaks.

WHY are we building?
We are adding a prefix to our API keys so we can scan for them i

[2022-07-27 15:49] jzbahrai commented on #653
This is what I did:

I pulled images from the ECR repository https://gallery.ecr.aws/v6b8u5o6/notify-api
I would then add .env files, and edit the code to make the monthly-data-by-service call locally

I found that the change occurred from lists to dict - 63cccb2 - but there was a json encoding error (not related to the above)
and it was fixed by 186f1a1. I couldn't pinpoint the exact change/ pack

[2022-07-27 16:04] jimleroyer commented on #82
Ah yes, the user part is not done but seems covered by this card. I guess the remaining item to investigate in this spike then is to see if and how GDS surfaces these. We could keep it open until we know. 👍

[2022-07-27 18:01] sastels commented on #722
We can also impose stricter rate limits on specific uris. For example, `/sign-in` or `/forgot-password`

[2022-07-27 22:08] jimleroyer commented on #722
@sastels +1 on the URL stricter rate limit!

[2022-07-28 13:11] jimleroyer commented on #624
User replied back and proposed to add a new entry in addition to the wildcard one, so basically wildcard + non-wildcard. Spoke to Max and he said let's try this on.
https://github.com/cds-snc/notification-terraform/pull/500

[2022-07-28 16:09] jimleroyer opened #785 "System status page in Notify Release 2"
# Description

As a user of Notify,
I need to know its status and maintenance windows,
So that I know if the software works correctly
and when Notify has planned maintenance.

## WHY are we building?

To improve Notify status communication with our users.

## WHAT are we building?

A status/maintenance page.

## VALUE created by our solution

Better communication and more transparency. Being able

[2022-07-28 17:44] YedidaZalik opened #786 "[Won't do at this time] Add option to Contact us page for security issue"
As a user who has noticed a security breach or vulnerability, I need to be able to easily understand what to do next to alert the team while understanding my responsibilities and CDS's responsibilities so I don't get in trouble or inadvertently make it worse.

WHY are we building?
There is no option on the Contact us page for "security issue". In our Security Statement we were going to direct peop

[2022-07-28 18:33] amazingphilippe commented on #739
Last changes made. Cache needs to be cleared on production site

[2022-07-28 18:40] yaelberger-commits commented on #786
User story looks great. I added a bit more detail up at the top.

[2022-07-28 19:43] yaelberger-commits commented on #786
Being considered

[2022-07-28 19:58] yaelberger-commits opened #787 "Linking source IP which are stored in Athena to cloudwatch(xray)"
_Linking source IP which are stored in Athena to cloudwatch(xray)_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achi

[2022-07-28 20:15] jimleroyer commented on #787
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/787?planning-poker) with ZenHub @jzbahrai @sastels @andrewleith

[2022-07-28 20:40] jimleroyer commented on #624
We pushed new certificates in staging and will make a push in production on August 2 in the morning. CC ops lead @sastels

[2022-07-29 13:11] yaelberger-commits commented on #420
@jimleroyer Should we try to tackle this WAF piece along with the other one? I looks a bit more complex given the impact from GC Articles.

[2022-07-29 13:14] #740 closed

[2022-07-29 13:14] #176 closed

[2022-07-29 13:14] #582 closed

[2022-07-29 13:15] #766 closed

[2022-07-29 13:15] #768 closed

[2022-07-29 13:15] #87 closed

[2022-07-29 13:15] #659 closed

[2022-07-29 13:15] #560 closed

[2022-07-29 13:15] #577 closed

[2022-07-29 13:15] #736 closed

[2022-07-29 13:15] #581 closed

[2022-07-29 13:15] #29 closed

[2022-07-29 13:15] #152 closed

[2022-07-29 13:15] #738 closed

[2022-08-02 12:03] yaelberger-commits commented on #703
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/703?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-02 12:20] yaelberger-commits opened #788 "ANNUAL (December): Configure holidays and daytime hours properly in FreshDesk annually"
## Configure holidays and daytime hours properly in FreshDesk annually

"Urgent" in freshdesk ticket did not page opsgenie for on call support

In freshdesk, when a client writes us using our Contact Us form using the word "urgent," we should get paged through opsgenie for on call support, but this ticket did not page.

https://cds-snc.freshdesk.com/a/tickets/9482

## [Bug Severity](https://docs.g

[2022-08-02 14:59] sastels opened #789 "Don't require files to be base64 encoded"
## Description

As a service owner, I need to be able to send files so that I can give my clients the data they need.

Currently we require files to be base64 encoded when they are POSTed to Notify. This often increases the size of the request substantially. Given that we have a 6M limit on total request size, it would be good if we could accept binary data.

See https://cds-snc.freshdesk.com/a/ti

[2022-08-02 16:41] sastels opened #790 "Track provider delays"
We should be able to pull out
delivery.dwellTimeMsUntilDeviceAck
in the callback and put in in a metric. We can then create a chart / dashboard to help us determine if SMS slowdowns are caused by Notify or further down the pipeline.

[2022-08-02 16:45] sastels opened #791 "Track provider delays"
## Description

When doing Notify support, I need to be able to determine what is causing slowdowns so that I cantake appropriate action.

We should be able to pull out
`delivery.dwellTimeMsUntilDeviceAck`
in the callback and put in in a metric. We can then create a chart / dashboard to help us determine if SMS slowdowns are caused by Notify or further down the pipeline.

## Acceptance Criteria**

[2022-08-02 16:45] #790 closed

[2022-08-02 17:22] amazingphilippe commented on #573
Fixed in https://github.com/cds-snc/notification-admin/pull/1301

[2022-08-02 17:22] #573 closed

[2022-08-02 18:25] amazingphilippe commented on #567
Fixed by https://github.com/cds-snc/notification-admin/pull/1253

[2022-08-02 18:25] #567 closed

[2022-08-02 18:56] yaelberger-commits commented on #743
PR for the final changes after last week's sync. PR ready for review

[2022-08-02 19:01] yaelberger-commits commented on #624
Release tomorrow morning

[2022-08-02 19:03] yaelberger-commits commented on #779
Give one more day before closing ticket and marking task as done.

[2022-08-02 19:06] yaelberger-commits commented on #739
Adrianne will take a final look at last 2 checkboxes and then Adrianne can clear cache with help from Phil. Yael to attend too!

[2022-08-02 19:12] YedidaZalik commented on #752
Quick 4 slide summary of the situation: https://docs.google.com/presentation/d/1kBmhnHlry-o2HdEwzzv1V_M-2bv1z30eNY0poOXsDTI/edit#slide=id.g14323b3fc4a_0_0

[2022-08-02 19:14] yaelberger-commits commented on #742
Phil will make sure it's ready for review

[2022-08-02 19:35] yaelberger-commits commented on #703
Timeboxed investigation 1-2 days to figure out fix

[2022-08-02 21:05] adriannelee commented on #763
Survey questions and answers have been finalized and the request has gone to translations. I've asked for it back for this Thursday EOD.

[2022-08-03 12:08] yaelberger-commits opened #792 "Update technical documentation for UTF 8 constraints"
_Update technical documentation for UTF 8 constraints_

## Description

As a Sender, I need to know what technical constraints there are with sending bulk messages through Notify so that I can upload my spreadsheet without errors and have confidence I will be able to send messages to my list of recipients.

https://cds-snc.freshdesk.com/a/tickets/9481

WHY are we building?
Some users are not aware

[2022-08-03 12:09] yaelberger-commits commented on #792
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/792?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels @amazingphilippe @YedidaZalik

[2022-08-03 12:09] yaelberger-commits commented on #792
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/792?planning-poker) with ZenHub @adriannelee

[2022-08-03 12:09] yaelberger-commits commented on #792
@jimleroyer Could you help further refine this card please?
@josh-cds for reference

[2022-08-03 13:05] amazingphilippe commented on #779
Client will ping us if they can't do this

[2022-08-03 13:07] amazingphilippe commented on #240
QA task: Some that has the api running.
- [ ] Send a message containing an attachment
- [ ] Send a message with a file link

[2022-08-03 13:32] sastels opened #793 "CSV "send to valid addresses" option"
## Description

As a service owner, I need to be able to send emails quickly so that I can communicate with my clients.

https://assistance.cds-snc.ca/a/tickets/9481

After uploading a csv, sending is blocked if there is an issue with any of the rows (including if any of the email addresses are deemed invalid). The service owner would like the ability to send to any valid recipients, with the inva

[2022-08-03 13:55] amazingphilippe commented on #742
Needs a reviewer

[2022-08-03 13:59] amazingphilippe commented on #570
We can tackle this with #741

[2022-08-03 14:16] sastels commented on #703
can talk to Max or Brian, the OG Notify folks about why these redirects are there. Can also go look at the PR that added the redirects and see if there's info there.

[2022-08-03 14:19] jzbahrai commented on #792
The dev's need to give guidance on what the actual changes/ documentation needs to be.

[2022-08-03 14:34] jimleroyer opened #794 "Register the US toll-free number"
# Description

As a Notify steward,
I need to register the US toll free number that Notify already has,
so that I can keep Notify sending to US based number.

## WHY are we building?

To keep sending to US numbers.

## WHAT are we building?

Complete toll free number registration through AWS.

## VALUE created by our solution

Keep sending to American numbers.

# Acceptance Criteria** (Definition

[2022-08-03 14:42] jimleroyer commented on #794
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/794?planning-poker) with ZenHub @jzbahrai @sastels

[2022-08-03 15:48] adriannelee opened #795 "PTMs can request their organization to be added when they're creating a Trial account"
## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

* A11y
* Bilingualism
* Privacy considerations
* Security cont

[2022-08-03 16:53] YedidaZalik commented on #419
Suggestions from Content critique Aug 3,2022
Content critique
Intention for notify or across websites
Standardize

If part of flow, could we have a summary of what they agree to

Content model - basic - what are the parts of each of them - eg first part is who we are, 2nd agreeing, etc

Note stylistic differences- tone, terminology
Table not fancy, split up different chunks

Anik document

Janice

[2022-08-03 19:21] jimleroyer opened #796 "Automatically handle CSV files that are not using UTF-8 character encoding"
# Description

As a user preparing a CSV upload,
I would like to upload my files with minimal friction,
especially when these come out of different programs with different character set encoding,
So that I can send notifications as easy as possible with no blockers, in a transparent manner.

## WHY are we building?

Users had bad experience uploading a file with a Windows coding page such as CP-12

[2022-08-03 21:02] jimleroyer opened #797 "Expire file attachments in link mode"
# Description

As a Notify user,
I would like my attachments sent in link mode to expire after a certain period of time,
So that I know these files are not at risk of being stored forever by a third party.

## WHY are we building?

To reduce security risk of someone getting access to files that were forever kept in our AWS storage. Increase trust with our users by respecting our data retention pol

[2022-08-03 22:53] jimleroyer commented on #350
Two PRs opened to set common and anon ip rulesets to block:

* https://github.com/cds-snc/notification-terraform/pull/498
* https://github.com/cds-snc/notification-terraform/pull/506

[2022-08-04 13:11] yaelberger-commits opened #798 "Update documentation to include character limits for SMS"
_Update documentation to include character limits for SMS_

## Description

As a Sender or decision maker using Notify, I need to know what the SMS character limits are so that I can write my text message templates accordingly, provide a good recipient UX and know how much a notification might cost in terms of my free SMS quota or if I go over.

The overall SMS characters limit in Notify is curren

[2022-08-04 16:11] sastels opened #799 "WAF rate limits: sign in routes"
# Description

As a Notify stakeholder,
I want to reduce the attacks on Notify,
so that our software is less discoverable with vulnerabilities
and only allow legit traffic to the web application.

## WHY are we building?

Rate limit attacks on the sign in urls:
/sign-in, /register. /forgot-password, /forced-password-reset

## WHAT are we building?

Add additional rules in our AWS WAF firewall to r

[2022-08-04 17:41] jimleroyer commented on #770
This was released on August 3rd!

[2022-08-04 17:45] jimleroyer commented on #770
Will need someone to verify that the workers were upgraded. I verified myself but second set of eyes as per our process..

[2022-08-04 21:12] adriannelee commented on #763
Translations came back - add them in.

Some small things to do before sending out:
- [ ] I realized that some respondents will receive duplicate links (and won't be able to input their unique response - or include a response if someone else on their team has started the survey). So I'm fixing that and doublechecking.
- [ ] Manually add the question numbers because the automatic ones are showing up

[2022-08-05 15:31] amazingphilippe commented on #741
Noticed we were missing a few error states. [Documented in Figma to work on](https://www.figma.com/file/uerfGAwA8MqaZ65Ep8oeXl/Recipients-files-guidance---Guide-fichiers-de-destinataires?node-id=1265%3A4901)

[2022-08-08 12:42] yaelberger-commits commented on #796
Can we bring this forward for refinement/estimation discussion this Wednesday @jimleroyer to help make a discussion about path forward, tech solution or documentation? We can discuss the two cards together, this and #792

[2022-08-08 13:05] jzbahrai commented on #743
@jimleroyer will QA

[2022-08-08 13:06] jzbahrai commented on #770
@sastels to QA

[2022-08-08 13:07] jzbahrai commented on #770
@jimleroyer will deploy today morning with some of the  changes

[2022-08-08 13:14] jzbahrai commented on #799
The is only on staging not on prd yet. @jimleroyer and @sastels will talk about further QA steps and deployment.

[2022-08-08 13:15] jzbahrai commented on #742
@andrewleith to QA

[2022-08-08 13:16] jzbahrai commented on #267
@sharlychan-cds to give an update

[2022-08-08 13:18] jzbahrai commented on #722
There is a PR currently waiting toreview.

[2022-08-08 13:33] sastels opened #800 "WAF rules: geo restrict apis"
## Description

As a Notify stakeholder,
I want to reduce the fuzzy attack on Notfy,
so that our software is less discoverable with vulnerabilities
and only allow legit traffic to the web application.

We want to block users outside Canada from connecting to our apis.

**Note**: We should look at our data to ensure that we don't have traffic with a missing country code.

**Followup**: Looking at o

[2022-08-08 16:23] andrewleith commented on #742
Here are some notes.  Most tests passed but there are a few things left to fix:

- ❌  A11y manual tests
   - id referenced in `aria-labelledby` attribute on `fieldset#process_type` doesn't exist
   - Note: `legend` elements already describe fieldsets, so this may not be necessary at all
- ❌ Check that any links are going to the right places and are working
   - Content exists and links are good bu

[2022-08-08 18:25] yaelberger-commits commented on #794
@jimleroyer is this a task I can take on with Policy in your absence? Does it require dev capacity? cc @sharlychan-cds

[2022-08-08 20:43] adriannelee commented on #763
Survey has launched 🎉 and 20 responses already! (yay!)

Next, I will prepare for analysis so that by Sept 9, the charts are ready to plug into a report.

[2022-08-09 00:21] jimleroyer commented on #794
@yaelberger-commits Yes feel free to take it! I can show you how to fill the form and you'll need your production account to Notify. No dev capacity required AFAIK.

[2022-08-09 12:18] yaelberger-commits commented on #743
@jimleroyer I can help QA this one now that it's in prod if you like to check that release matches Figma, all links work etc. in all the browsers

[2022-08-09 12:20] yaelberger-commits commented on #739
Cached on Aug 8.
I can also compare what's live to Figma designs and check links etc. in multiple browsers today to help QA this further

[2022-08-09 12:25] yaelberger-commits commented on #800
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/800?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-09 12:26] yaelberger-commits commented on #799
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/799?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-09 12:27] yaelberger-commits commented on #779
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/779?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-09 13:59] jimleroyer opened #801 "Detect malicious content on sending of notifications"
# Description

As an ops lead or incident commander,
I need to know when notifications with malicious content is sent,
So that I can take appropriate actions to secure a compromised Notify.

## Why

To add more security to Notify, protect against phishing attempts.

## What

This card probably is an epic.

First iteration of this could be around validating links contained within a notification aga

[2022-08-09 14:00] jimleroyer opened #802 "Links vetting / monitoring"
## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user story emerged from User Research insights:
- [ ]

[2022-08-09 14:44] adriannelee commented on #739
The last two checkboxes (the language tags) have been QA'd again. Looks good!

[A page is still missing a hyperlink](https://gcdigital.slack.com/archives/G010A3CDV5X/p1660055639536799). I'll try to fix it on GC Articles.

[2022-08-09 14:53] adriannelee commented on #786
I refined it further (moved the value statement down because it read more like what the solution should look like)

I also added that there's research from CX (Sabine) that security is a big factor for whether someone chooses Notify.

[2022-08-09 15:13] yaelberger-commits commented on #794
Pat also knows how to fill in the form

[2022-08-09 15:27] patheard opened #803 "Infrastructure: update Redis cluster to be multi-AZ"
# Description

As a developer,
I want to have confidence that a failure in a single availability zone will not bring down the Redis cache,
so that the Notify service is more resilient for end-users.

* Possible candidate for ADR to discuss options.

# Risk

We store our buffer notifications in Redis so if our instance goes down in one availability zone, we risk of losing many notifications and pot

[2022-08-09 15:36] yaelberger-commits opened #804 "EXPLORE: Is 10DLC better for sending SMS to U.S. recipients than toll-free number?"
_EXPLORE: Is 10DLC better for sending SMS to U.S. recipients than toll-free number?_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (

[2022-08-09 17:51] adriannelee commented on #739
Yedida added the hyperlink on the English page. LGTM! (QA is done by me 😊)

[2022-08-09 18:46] yaelberger-commits commented on #739
I think we need to clear cache again, no? To see the change live?

[2022-08-09 19:07] sastels opened #805 "test keys can send to arbitrary users using /bulk endpoint"
## Describe the bug

[Test keys](https://documentation.notification.canada.ca/en/keys.html#test) can send to anyone, even for trial services, when sending through the bulk endpoint.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)

SEV-3

## To Reproduce

[2022-08-09 20:11] sastels commented on #770
looks good in production!

[2022-08-09 20:17] sastels commented on #624
LGTM. Suggest marking this as Done until / unless we hear back from the user that they're still having issues.

[2022-08-09 20:19] sastels commented on #799
Merged into prod now.

Script to send lots of requests:

#!/bin/bash
for ((i=0; i<$1; i++))
do
    printf "\n${i}: Status "
    curl -s -o /dev/null -w "%{http_code}" https://$2
    sleep 1
done
echo ""

Usage: ./repeat_curl.sh 200 "notification.canada.ca/sign-in"

[2022-08-09 22:39] jimleroyer commented on #792
I currently see two different places where we could display this:

* On the screen where a user upload a file: we can leave a collapsible message about the file format which should be UTF-8.
* In the returned error message when we detect such errors. We could mention that the file needs to be in UTF-8.

Informed technical users will know what that means and perform necessary steps. For non tech in

[2022-08-10 12:16] andrewleith commented on #730
Testing notes:
- The python client gave an error when following the documented guide (using python 3.9.13):
[code]

Manually modifying line 58 to remove the `.decode()` call made the sending an email work, but more investigation needs to be done to see why the client didn't work out of the box.

[2022-08-10 12:20] yaelberger-commits commented on #739
It seems to be live :)
@adriannelee is this considered Done now?

[2022-08-10 12:24] yaelberger-commits commented on #743
The word "created" is on the third line when in Figma it's part of the second line
![Screen Shot 2022-08-10 at 8.24.00 AM.png](https://images.zenhubusercontent.com/618bd78afce6ad0aa17d429c/b1d37a10-dbe7-4cde-a283-3fa5fe31aead)

[2022-08-10 12:33] yaelberger-commits commented on #743
Tested all links and content (EN and FR) in Chrome, Safari and Firefox.
@adriannelee would you be able to do manual a11y scanning on this one?

[2022-08-10 13:02] yaelberger-commits opened #806 "Lorsque je clique sur le lien du courriel en français il me dirige vers la page en anglais du sondage"
## Lorsque je clique sur le lien du courriel en français il me dirige vers la page en anglais du sondage

A clear and concise description of what the bug is. Include which part of Notify is affected (admin, staging, prod, API, utils, etc.)

https://cds-snc.freshdesk.com/a/tickets/9506

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examp

[2022-08-10 13:05] jzbahrai commented on #739
this ticket is done!

[2022-08-10 13:09] jzbahrai commented on #799
This is in production - someone can't sign in more than a 100 times in prod

[2022-08-10 13:11] jzbahrai commented on #385
still waiting on translations.

[2022-08-10 13:14] jzbahrai commented on #267
going to Product Policy tomorrow. After that the changes will be incorporated by Yedida

[2022-08-10 13:15] jzbahrai commented on #401
Sharly to work on it today!

[2022-08-10 13:17] YedidaZalik commented on #548
Started work on plain language wording of [SLOs in this document](https://docs.google.com/spreadsheets/d/1lHSM3_ajYvcmY_SAR7MFjoMtVsH4YOw-fzIvlcqICEg/edit#gid=0)

[2022-08-10 13:18] jzbahrai commented on #741
We are we waiting on content from this and then @amazingphilippe is required for comments.

[2022-08-10 13:23] jzbahrai commented on #730
Andrew to update this

[2022-08-10 13:25] jzbahrai commented on #354
Sharly is working on it!

[2022-08-10 13:35] YedidaZalik commented on #385
Translation just came back:https://docs.google.com/document/d/1LD5usI8T_UdKvoLQdfoIeKyANf_kERxYK5DnZy4E0A4/edit#

One link is not available in French. Currently exploring how to address that.

[2022-08-10 13:52] yaelberger-commits commented on #756
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/756?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-10 14:07] jimleroyer commented on #805
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/805?planning-poker) with ZenHub @sastels @jzbahrai @andrewleith

[2022-08-10 14:09] yaelberger-commits commented on #159
https://cds-snc.freshdesk.com/a/tickets/9501

[2022-08-10 14:11] yaelberger-commits commented on #159
Add ourselves to their team, replicate what they do

[2022-08-10 14:11] yaelberger-commits commented on #159
Steve can replicate sending to people outside the team using a Test Key, but not using a Team Key

[2022-08-10 14:22] yaelberger-commits commented on #159
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/159?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-10 14:31] jimleroyer commented on #735
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/735?planning-poker) with ZenHub @andrewleith @jzbahrai @sastels

[2022-08-10 17:04] yaelberger-commits commented on #679
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/679?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-08-10 18:43] YedidaZalik commented on #385
Issue resolved with help of translation team by indicating document available in English only

[2022-08-10 20:58] adriannelee commented on #743
Manual a11y testing is done, lgtm! One small thing is that the period after the "prepare a spreadsheet" link gets read twice on Chrome using VoiceOver.

[2022-08-10 22:59] jimleroyer commented on #799
Tested with a Locust Python test. I hit protected endpoints such as `/sign-in`, `/register`, `/forgot-password`,

The WAF rule specifies 100 hits within 5 minutes as a threshold but that rule is evaluated every 30 seconds. It's important to note because that means that someone can hit as many times within that 30 period time frame, i.e. it's not when the same IP hits 100 times that it blocks autom

[2022-08-10 23:10] jimleroyer commented on #799
Added automated Locust test in the `notification-api/tests-perf` folder:
https://github.com/cds-snc/notification-api/pull/1580/files

[2022-08-10 23:12] jimleroyer commented on #799
This task has been QA'ed and can be considered done. 👍

[2022-08-11 12:35] andrewleith commented on #805
## Code flow investigation
Emails sent via `KEY_TYPE_TEST` keys go through the entire send process (API -> redis -> SQS -> db -> celery send workers) and then stop just before actually being sent, [here](https://github.com/cds-snc/notification-api/blob/main/app/delivery/send_to_providers.py#L214).  This seems to mark the notification as `sending` and then is finished.

Not sure what updates the st

[2022-08-11 13:06] andrewleith commented on #805
Ok so it appears when we do a post to `/bulk`, we go through `process_rows()` while we are processing the bulk job.  In there, it does not pass the `key_type` when it creates the notifications records, so when celery picks them up to send after that they default back to `KEY_TYPE_NORMAL` and the notifications get sent.

[2022-08-11 14:04] yaelberger-commits commented on #757
Closed because it's a duplicate of #754

[2022-08-11 14:04] #757 closed

[2022-08-11 14:11] andrewleith commented on #743
I took a quick look and the markup is correct, not sure why VoiceOver is reading the period twice.

Looks like we're all done here, moving to done!

[2022-08-11 14:17] yaelberger-commits opened #807 "Priority Queues"
_Priority Queues _

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user story emerged from User Resea

[2022-08-11 14:25] yaelberger-commits commented on #755
Ramya's list of test use cases for manual testing can provide a roadmap for automated test suite as well.

[2022-08-11 14:34] yaelberger-commits commented on #661
Can we just use origin/main?
Ensuring devs aren't breaking things they don't know about.
Ensuring local dev environments are in line with the latest version of what's in Github

[2022-08-11 14:36] yaelberger-commits commented on #668
We have a metric but not alarm

[2022-08-11 14:41] yaelberger-commits commented on #744
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/744?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-11 14:47] yaelberger-commits opened #808 "Users can create and edit formatted content in templates easily without issues"
_Users can create and edit formatted content in templates easily without issues_

## Description

As a Notify client, I need to be able to create, format and edit templates easily and successfully without errors or bugs in a self-serve manner so that I can send notifications with confidence that they will look the way I expect them to.

We have identified a number of bugs and user needs from suppo

[2022-08-11 14:50] yaelberger-commits commented on #598
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/598?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-11 14:53] yaelberger-commits commented on #614
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/614?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels @amazingphilippe

[2022-08-11 14:55] yaelberger-commits commented on #519
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/519?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-11 15:01] andrewleith opened #809 "Improve the handling of notifications sent using TEST keys"
## Issue
Currently, notifications sent using test keys via the `/email`, `/sms` and `/bulk/` endpoints go through our entire sending process (i.e. API -> redis -> SQS -> db -> celery send workers) just to never actually send.

Keeping in line with the documentation surrounding test keys, we should be able to simplify this code and reduce other bugs and issues:

### Improvement
Instead of short cir

[2022-08-11 15:19] sastels commented on #799
yeah, agreed the 30 second delay isn't great :disappointed:

[2022-08-11 15:42] YedidaZalik opened #810 "Include content about 50K + recipients in flow and guidance"
As a user who sends manually,  I need to understand what to do when I have more than 50K recipients  so that I can send messages without friction.

WHY are we building?
Some users are send to 50K + recipients via Admin manually. We have had to explain to them the 50,000/CSV batch limit.
WHAT are we building?
Information at the appropriate point in the flow and guidance so they understand they'll n

[2022-08-11 16:42] andrewleith commented on #730
Work is complete, pending review.  All client libraries work with the changes.

[2022-08-11 17:52] patheard opened #811 "Upgrade Load Balancer SSL policy to `ELBSecurityPolicy-FS-1-2-Res-2020-10`"
# Summary
Currently we're using the [ELBSecurityPolicy-FS-1-2-Res-2019-08](https://github.com/cds-snc/sre-bot/blob/9706dfcd4e639668a0892a3f544bfcedd1518233/terraform/alb.tf#L33) SSL policy on our load balancer.  We should look at upgrading this to `ELBSecurityPolicy-FS-1-2-Res-2020-10`, which is already in use by other CDS products.

Impact would be [dropping support for the following TLS ciphers]

[2022-08-12 02:00] YedidaZalik commented on #752
Airtable shows that 96 of the 245 live services have reply-to addresses.

[2022-08-12 15:07] adriannelee opened #812 "Separate team management and service branding"
## Description

As a Sender, I need to be able to send messages with different branding without creating a whole new service on GC Notify so that I don't waste time doing administrative tasks.

WHY are we building?
Currently on GC Notify, creating a service is linked to 2 tasks that don't necessarily need to be linked together: managing a team and 'branding' from where/who the messages are sent. T

[2022-08-12 15:33] sharlychan-cds commented on #354
Audit for 2022-08-11 complete:

- Went through each service in PT list and applied "redact personalised templates" to new templates
- Went through new PT services since 2022-06-`7 to double check if retention limits were applied (3 days for SMS/Email)
- 2 new services needs Platform admin logging (@sastels I highlighted it in this sheet at the bottom with the service ID)

[2022-08-12 18:35] yaelberger-commits commented on #743
Moved back to QA to see if Phil is able to resolve the two issues, "created" on a third row and VoiceOver reading period twice.

[2022-08-15 12:40] yaelberger-commits commented on #794
Requested AWS pinpoint access for Yael from SRE team to submit the registration form.

[2022-08-15 12:47] yaelberger-commits commented on #268
OCIO PDPD is working on this with our policy team

[2022-08-15 12:53] yaelberger-commits commented on #347
@YedidaZalik @amazingphilippe @adriannelee Is this already covered by the Guidance page we have now?

[2022-08-15 13:00] sastels commented on #722
merged but in "count" for now. Will evaluate in a week to see if we would be blocking valid traffic.

[2022-08-15 13:06] amazingphilippe commented on #240
Todays plan

[2022-08-15 13:07] amazingphilippe commented on #743
Phil will look at fixes Today

[2022-08-15 13:08] amazingphilippe commented on #730
No rush. Waiting for Andrew's return

[2022-08-15 13:08] sastels commented on #730
Will merge when Andrew is backed.

[2022-08-15 13:09] amazingphilippe commented on #805
Trying to deploy today

[2022-08-15 13:10] amazingphilippe commented on #800
Rule is set to count instead of block. To figure out if we're blocking legitimate traffic. Moving to QA after 2 weeks of monitoring.

[2022-08-15 13:12] amazingphilippe commented on #606
Phil should review and QA this.

[2022-08-15 13:18] amazingphilippe commented on #385
Back from translation. Phil can take a quick overview.

Also, ready to post when:
- [ ] We'd like to test privacy and security statement together.
- [ ] Privacy and security statements refer to each other.

[2022-08-15 13:20] amazingphilippe commented on #763
Looking for help and expertise with spreadsheet setup for results analysis

Survey has 77 responses!!

[2022-08-15 13:21] yaelberger-commits commented on #392
Need refinement from Yael and Adrianne

[2022-08-15 13:21] amazingphilippe commented on #548
We'll wait for a discussion with dev.
Still working on the language.

[2022-08-15 14:42] yaelberger-commits commented on #347
Could be added to the Research Airtable as backlog of research questions

[2022-08-15 14:47] yaelberger-commits commented on #405
Related to bilingual issues and user experience

[2022-08-15 14:50] yaelberger-commits commented on #405
Can we first learn how many users use generic Canada branding vs their own custom branding

[2022-08-15 14:54] yaelberger-commits commented on #405
improving this experience might increase requests and the burden on our support team, so we might want to first tackle #463, then do this work to make branding changes more visible to Sender

[2022-08-15 15:05] yaelberger-commits commented on #812
Could be a Discovery to explore the value of making these changes and how we might design for this problem. Need to bring devs in to discovery work to evaluate feasibility

[2022-08-15 17:10] jzbahrai opened #813 "Reply to Address isn't being set properly when sent through API"
## Describe the bug

Given there are two reply_to's set for a service, one is default and the other isn't, regardless of what is sent through the API - we will always use the default reply_to.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV - 3
## To Reproduce

Steps to reproduce the behavior:

1. Setup

[2022-08-15 17:11] jzbahrai commented on #813
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/813?planning-poker) with ZenHub @sastels @jimleroyer @andrewleith

[2022-08-15 17:37] yaelberger-commits opened #814 "Delete client data when their account is archived"
_Delete client data when their account is archived _

## Description

As a client of Notify, particularly PTM, I need to be able to have my data (name, phone number, email address) deleted from GC Notify's records and database so that I can have my privacy respected if my account has been archived, or if I am no longer using Notify.

As a Notify admin, I need to be able to delete archived user dat

[2022-08-15 17:38] yaelberger-commits commented on #814
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/814?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik @andrewleith @jimleroyer @jzbahrai @sastels @sharlychan-cds

[2022-08-15 18:34] amazingphilippe commented on #742
For Andrew's QA points
1. process_type is the priority setting visible to us admins. Not our users. I suggest not fixing for now
2. Fixed the external links to open in a new tab! Good catch!
3. We want to make sure the width of each line is shorter than 80 characters wide for legibility. This explains the white space. I added a bit of spacing to the cards to let the layouts breathe individually.

[2022-08-15 18:42] jzbahrai commented on #240
Tested both sending a file with an attachment and a link on staging. Received both!

[2022-08-15 19:42] yaelberger-commits commented on #392
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/392?planning-poker) with ZenHub @adriannelee @amazingphilippe @YedidaZalik

[2022-08-16 13:49] yaelberger-commits commented on #794
Registration has been submitted.
Doc containing content that was submitted can be found here https://docs.google.com/document/d/1kiouwb4XkZfV7vAI1DOGHQGuzqng7rsF0MgBqyGFSuc/edit?usp=sharing

[2022-08-16 13:50] yaelberger-commits commented on #794
Review by AWS and carriers can take up to 15 business days, so this is blocked until we hear back from AWS by end of August

[2022-08-16 14:00] amazingphilippe commented on #385
Just read the French security statement. Switched around "Notification GC" to "GC Notification" Everything else looks good!

[2022-08-16 14:02] amazingphilippe commented on #385
Moving to blocked until we do the testing? #392

[2022-08-16 14:32] yaelberger-commits commented on #385
@amazingphilippe nope! We decoupled from testing so we can proceed with next steps to publish the statement

[2022-08-16 14:33] yaelberger-commits commented on #385
Reassigned to Yedida to usher this through the publishing process on GC Articles next

[2022-08-16 16:35] adriannelee commented on #392
I'm wondering if having moderated sessions will help answer our research questions .. @YedidaZalik what if we sent the privacy statements to some people and asked them to review asynchronously? Especially if they're people who would need to ask their colleagues for more info?

[2022-08-16 16:48] YedidaZalik commented on #392
Yeah, I think asynchronous is a great idea for this!
One question though: it means we'll have to prompt them to review it in a timely way. Is there something we can do to encourage that?

[2022-08-16 17:17] yaelberger-commits opened #815 "Relabel priority lanes"
_Relabel priority lanes_

## Description

Our priority lanes are currently labelled Priority, Normal and Bulk, but if we ever expose these labels to clients it is likely to cause confusion as we have a "Priority" priority lane and we can also have bulk priority notifications etc.

As a Sender, I need to be able send notifications within a certain timeframe without delay so that my notifications ha

[2022-08-16 19:37] yaelberger-commits commented on #151
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/151?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-16 20:36] jzbahrai commented on #159
I am going to move this to blocked status. I ran a performance test using the perf-tests in the API repo using a test key. The test key sends to success@amazon. - which isn't listed. I saw no failures on the performance test or 201's. I am unsure if there is anything left to do here.

[2022-08-16 20:51] adriannelee commented on #763
Here’s a sample of the responses I’m working with to set up the analysis https://docs.google.com/spreadsheets/d/12PecyzwyO-1I39Jq1t6S5I3vRYNbd1fYkjvcit2KAH0/edit#gid=375595319

the report set up https://docs.google.com/presentation/d/1hdvWDBFWXS4PDMDtjQ7U3Wwh9DDhMMGdTTllLCKW-vA/edit#slide=id.p

[2022-08-17 13:03] sastels commented on #805
QA'd in production

[2022-08-17 13:05] sastels commented on #240
A few more PRs to review
https://github.com/cds-snc/notification-pr-bot/pull/27
https://github.com/cds-snc/notification-document-download-api/pull/69
https://github.com/cds-snc/notification-manifests/pull/1200

[2022-08-17 13:07] amazingphilippe commented on #606
Steve and Phil Reviewed for code and UX. Some changes needed Jumana will look at these today

[2022-08-17 13:10] amazingphilippe commented on #240
We don't use the front end on staging! old urls still work and go to the api.

[2022-08-17 13:11] sastels commented on #354
PR https://github.com/cds-snc/notification-manifests/pull/1198

[2022-08-17 13:15] amazingphilippe commented on #401
Sharly to work on it today!

[2022-08-17 13:16] amazingphilippe commented on #741
Wrapping up this work today. Maybe write some scenarios with Ramya for testing this one with all the possible error messages possibilities.

[2022-08-17 13:18] amazingphilippe commented on #763
Moar responses! Still looking for a spreadsheet guru!

[2022-08-17 13:24] amazingphilippe commented on #268
It changed, so Sharly needs to work on it

[2022-08-17 13:26] amazingphilippe commented on #267
Sharly and Yedida should work on this together. Then needs to go back to OCIO PDPD (update with acronyms)

[2022-08-17 13:27] sastels commented on #350
Want to talk to Jimmy about his analysis before blocking on `GenericRFI_BODY`.

[2022-08-17 13:30] amazingphilippe commented on #385
We need a reviewer and copy-paster in GC Articles.

[2022-08-17 13:32] sastels commented on #153
Need:
- [ ] add a secret to the admin -> api request header for the WAF to use to know not to rate limit Notify
- [ ] add the rate limiting WAF rules

[2022-08-17 13:50] yaelberger-commits commented on #704
@sharlychan-cds is this still a priority? If not, we can relabel it low and move it back to the product backlog.

[2022-08-17 14:17] yaelberger-commits commented on #413
IDEA: pre-populate language tags in the template to show Senders how a bilingual message would be structured.

[2022-08-17 14:41] yaelberger-commits commented on #813
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/813?planning-poker) with ZenHub @jzbahrai

[2022-08-17 14:48] yaelberger-commits commented on #725
Maybe an ADR

[2022-08-17 14:50] amazingphilippe commented on #419
Accepting terms when going live is a very similar experience to what we're proposing here

![Capture d’écran 2022-08-17 à 10.47.46.png](https://images.zenhubusercontent.com/614b439e980ccd4137400d3e/d4e2948d-7a13-4977-9115-904466e27c1b)
![Capture d’écran 2022-08-17 à 10.47.58.png](https://images.zenhubusercontent.com/614b439e980ccd4137400d3e/1991210c-4a5e-4d44-b2c1-8b953e50bee8
)

[2022-08-17 14:52] yaelberger-commits commented on #325
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/325?planning-poker) with ZenHub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-08-17 14:56] yaelberger-commits commented on #731
Giving a higher weighting to priority SMS redis lane so we process these SMS faster could resolve this problem, but needs more discussion with the team

[2022-08-17 16:22] jzbahrai commented on #240
reviewed all 3 Prs

[2022-08-17 16:24] jzbahrai commented on #354
Approved!

[2022-08-17 18:08] sastels commented on #813
We probably left out this field when we did all the batch stuff. Should check if the field is added to the notification object we put in the redis inbox.

[2022-08-17 19:45] amazingphilippe opened #816 "Banner component makes it possible to have multiple h1 on a page."
## Description of issue

Describe what is failing
Banners are configured to use a h1. Sometimes, that h1 may be the only one on a page, sometimes, we may have another h1 on a page already.

Either way, having the h1 in a banner can be weird when the message is quite long. It also doesn't look like a heading for the whole page, and often mismatched with the page title attribute.

There can only be

[2022-08-17 20:30] sastels opened #817 "Admin review apps sometimes don't load everything"
## Describe the bug

Admin review apps were timing out trying to fetch images and javascript. Just a one character fix.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)

SEV-4

## To Reproduce

Steps to reproduce the behaviour:

- load a review app with d

[2022-08-18 13:33] YedidaZalik commented on #548
Initial work on plain language in [Plain lang SLO spreadsheet](https://docs.google.com/spreadsheets/d/1lHSM3_ajYvcmY_SAR7MFjoMtVsH4YOw-fzIvlcqICEg/edit?pli=1#gid=1989372846)

[2022-08-18 17:01] #742 closed

[2022-08-18 17:01] #743 closed

[2022-08-18 17:02] #805 closed

[2022-08-18 17:02] #739 closed

[2022-08-18 17:02] #624 closed

[2022-08-18 17:02] #770 closed

[2022-08-18 17:02] #799 closed

[2022-08-18 17:02] #779 closed

[2022-08-18 17:02] #653 closed

[2022-08-18 17:48] sastels opened #818 "Using JWT with api can raise uncaught server errors"
## Describe the bug

A service tried using JWTs in their api requests, causing uncaught `TokenAlgorithmError` errors

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)
SEV-3 ? can trigger OpsGenie, and we probably don't send back a meaningful error message

[2022-08-18 18:25] sastels opened #819 "Wide branding are stretched in template preview"
## Describe the bug

Wide brandings (say, over 1100 x 108) are stretched vertically in the template preview. The emails use the correct aspect ratio.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

 SEV-3 Minor - everything works in the end, but service owners might not know that.

## To Reproduce

Steps to

[2022-08-18 18:49] sharlychan-cds commented on #268
Working on comments to return back to OCIO PDPD

[2022-08-19 14:07] yaelberger-commits commented on #354
This is done then @jzbahrai

[2022-08-19 15:36] sharlychan-cds opened #820 "Requesting Privacy Office information when going Live"
In the event of a privacy breach involving personal information, it would be most efficient for the team to already have the contact information of the privacy office of the service. During incidents, there is a lot going on already and scrambling to find this or ask clients to do this can be troublesome.

We don't currently ask for this when services go live but it would be a good practice to do

[2022-08-22 15:39] yaelberger-commits commented on #767
![Screen Shot 2022-08-22 at 11.39.16 AM.png](https://images.zenhubusercontent.com/618bd78afce6ad0aa17d429c/2e2778d2-b603-46a7-a43b-2fef2a6a21ee)

[2022-08-22 15:39] YedidaZalik commented on #548
Design sync with Adrianne, Phil and Yedida to discuss where SLO's fit in Notify's IA.  We are thinking to create a separate page for SLO's in the footer. The page will be parallel to the Activity page, and will also link to it. The title of the page has not been finalized yet, but we are discussing including the words "Service level objectives" as well as "Performance metrics".
Rationale:
- Termin

[2022-08-22 17:35] sastels opened #821 "Add terraform support to long code pool"
We click-ops'd a switch to using a dedicated pool of long codes for prod. We should
- [ ] make sure the next terraform deploy doesn't undo it
- [ ] if possible, add this to terraform, potentially making it easy to increase the size of the pool in the future

[2022-08-22 17:40] sastels opened #822 "Evaluate new dedicated prod long code pool"
## Description

As an owner of Notify, I need to be able to know how capable Notify is at sending SMS so that I can scale the system appropriately.

- we switched from using AWS shared pool to our own dedicated pool.
- in theory, we should have the same send rate / latency as before (10 message parts / sec, a few seconds of latency)
- we should test this

## Acceptance Criteria** (Definition of do

[2022-08-22 17:56] sastels opened #823 "Fix Content Security Policy issues"
## Describe the bug

A new security tool says we have a couple low priority issues

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)
SEV-4

## To Reproduce

Steps to reproduce the behavior:

1. load home page https://notification.canada.ca/ with console op

[2022-08-22 18:24] yaelberger-commits commented on #817
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/817?planning-poker) with ZenHub @amazingphilippe @sastels

[2022-08-22 18:53] jzbahrai commented on #420
https://github.com/cds-snc/notification-terraform/pull/512

[2022-08-22 19:35] mohamed-cds commented on #725
With all the work @patheard and I have done with [scan-files](https://github.com/cds-snc/scan-files) this may be as simple as generating a `.html` of the template and feeding it to scan-files and getting a scan verdict. More investigation required but from what i can tell all the requirements can be met using the current scan-files api.

[2022-08-22 19:45] sastels opened #824 "give better error messages for "technical failures""
## Description

As a service owner, I need to be able to see why messages fail so that I can prevent reduce the number of failing message I send.

We use "technical failure" as a catch-all for when we don't recognize the error. Including errors like
[code]
We should better surface these errors to the user so they can better curate their mailing lists.

## Acceptance Criteria** (Definition of done)

[2022-08-22 20:03] yaelberger-commits commented on #773
@sastels @mohamed-cds is this related to the csp issue?

[2022-08-22 20:09] mohamed-cds commented on #773
shouldn't be related. the csp violation relates to the `notification-admin` newrelic integration.

[2022-08-23 14:14] yaelberger-commits commented on #782
@jzbahrai Can you provide a bit more info on this error you saw? What part of the system is it affecting?
What kind of error is it?

[2022-08-23 14:26] sastels commented on #821
tested terragrunt plan on prod with a PR to increase the version
https://github.com/cds-snc/notification-terraform/pull/515

Nothing strange in the plan. Next step is to do an apply and verify that it didn't do something the plan didn't show (unlikely).

Also, looks like pinpoint phone numbers aren't supported by terrafrom yet, but might be soon
https://github.com/hashicorp/terraform-provider-aws/

[2022-08-23 14:33] yaelberger-commits opened #825 "Update Go-Live Form"
_Update Go-Live Form_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

Mostly that we need to ask more specific questions about their "purpose" because right now people given very vague answers that don't really tell us how they plan to use Notify

This should be collected as structured data based on the "Scenarios" in the Growth deck.

We should collec

[2022-08-23 15:48] yaelberger-commits commented on #454
Iceboxed as it seems we have a good flow and QA process now with the team

[2022-08-23 18:50] yaelberger-commits commented on #246
Iceboxing as we have a card for updating the Go-Live request form and Platform work towards a new CRM

[2022-08-23 19:45] yaelberger-commits commented on #259
Iceboxing because we have other cards related to metrics and data

[2022-08-24 13:09] yaelberger-commits commented on #386
Iceboxing

[2022-08-24 13:28] amazingphilippe commented on #817
I saw only one 429 when I started testing. Then no more.
I did get a 500 when I tried to upload a CSV file. Probably as expected?

[2022-08-24 14:02] amazingphilippe commented on #817
- As expected, but we can fix this. Steve will create another card to fix:

(Why doesn't it use our API for this? good question!)

[2022-08-24 14:12] sastels opened #826 "review apps can't upload csvs"
## Describe the bug

- When a user uploads a csv, admin puts it directly into s3, it doesn't use the api.
- This requires admin to have the env vars `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`
- The review apps get their secrets from the parameter store
https://ca-central-1.console.aws.amazon.com/systems-manager/parameters/ENVIRONMENT_VARIABLES/description?region=ca-central-1&tab=Table
- this

[2022-08-24 14:24] amazingphilippe commented on #817
500 error ticket: #826

[2022-08-24 14:40] amazingphilippe commented on #10
Its difficult to audit for this. I think we should close this issue. We've been doing a you-find-it-you-fix-it approach!

In the past, I've scoured the code in search of untranslated strings, but its difficult to find them given how much different languages we use.

[2022-08-24 16:13] sastels commented on #153
Added a `waf-secret` to the header for admin -> api calls. It's there in staging, not in production. Must investigate...

[2022-08-24 16:14] sastels commented on #722
so far in COUNT mode would have blocked (part of) a fuzzing attack on documentation.

[2022-08-24 17:25] yaelberger-commits opened #827 "Publish v1.5 SLA"
_Publish v1.5 SLA_

## Description

As a Notify client, I need to be able to understand my responsibilities when using the product, and those of the Notify team, so that I can make a decision whether to use Notify, and use it properly.

https://docs.google.com/document/d/1hi2s1PJsbmo2pquG-WPm67MKKEDc8p60d7hW8E3nJCo/edit?usp=sharing

WHY are we building?
We want to embrace more of the self-serve mo

[2022-08-24 17:25] yaelberger-commits commented on #827
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/827?planning-poker) with Zenhub @adriannelee @amazingphilippe @YedidaZalik @sharlychan-cds

[2022-08-24 18:37] YedidaZalik commented on #401
Done this afternoon.

[2022-08-25 15:23] yaelberger-commits opened #828 "Missing underline on service dashboard for failed messages"
## Missing underline on service dashboard for failed messages

In admin, For "1712 text messages sent" you can hover / click anywhere in the blue, and the text is underlined, but for "427 failed" you have to click on the text, and nothing is underlined

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-2

[2022-08-25 15:24] yaelberger-commits commented on #828
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/828?planning-poker) with Zenhub @amazingphilippe @jzbahrai @sastels

[2022-08-25 16:10] sastels opened #829 "admin crashes if contact form fails validation"
## Describe the bug

- If you fill in the contact us form, you can't submit unless your inputs are valid.
- However, if an attacker POSTs data directly to the contact-us page, if the data is not valid it can cause admin to crash.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major,

[2022-08-25 16:56] sastels opened #830 "bad cookies can crash admin"
## Describe the bug

fuzzing attacks against admin's cookie can crash Notify and trigger alarms.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)
SEV-2 : no affect on the product, can page staff in the middle of the night

## To Reproduce

Steps to reprod

[2022-08-26 14:03] yaelberger-commits commented on #752
Previously, the team blocked people from being able to respond to no-replies altogether, but people then have been going to our Contact Us form. Just some context
https://gcdigital.slack.com/archives/CNWA63606/p1614605589041700?thread_ts=1614548279.039700&cid=CNWA63606

[2022-08-26 14:51] yaelberger-commits commented on #769
@amazingphilippe @YedidaZalik FYI we have a code path for service agreement... Should we consider reviving this one, or creating it new and deleting this old one?

[2022-08-26 16:59] yaelberger-commits commented on #8
Fix as we find

[2022-08-26 17:02] yaelberger-commits opened #831 "Improve our testing capabilities"
_Improve testing capabilities_

## Description

To ensure Notify is running well and performing reliably, we need to improve and add to our suite of manual, and especially automated tests and testing environments so that we can test before, growth, deployments and also in the event of a bug or unexpected behaviour.

[2022-08-26 20:08] YedidaZalik commented on #769
@yaelberger-commits @amazingphilippe I can see the public agreement but I get a 403 error when I click on the service agreement.   Since we have a code path already, it seems to me we could use it, but I defer to @amazingphilippe .

[2022-08-29 12:17] andrewleith commented on #784
TL;DR when we communicate with clients we should be explicit that they provide the entire string that is created when they generate their new API key, and not just the last 36 characters.  Our documentation will need to be updated as well.

---
There is a discrepancy between our guidance in the documentation oh how to call the API and the actual implementation in the client libraries. [Our documen

[2022-08-29 13:05] amazingphilippe commented on #769
I think we don't have the right url in the issue above. This works: https://staging.notification.cdssandbox.xyz/services/d6aa2c68-a2d9-4437-ab19-3ae8eb202553/agreement

[2022-08-29 13:10] yaelberger-commits commented on #580
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/580?planning-poker) with ZenHub @amazingphilippe @andrewleith @sastels @jzbahrai @jimleroyer

[2022-08-29 13:57] amazingphilippe commented on #580
A bit of context for planning poker:

- When we render this page, we only get the name of the placeholder.
- For a11y, we should give a bit more instructions as to what is an acceptable string ("yes", "y", "true", "t", "1", "include", "show", "oui", "vrai", "inclure", "afficher")
- Or we could have the user check a box, and still treat this value as a string. I see no difference, this is just for

[2022-08-29 13:59] amazingphilippe commented on #580
Relevant code in utils:

- This is where we know the type of placeholders: https://github.com/cds-snc/notification-utils/blob/main/notifications_utils/field.py
- This is what we send to our form: https://github.com/cds-snc/notification-utils/blob/main/notifications_utils/template.py

[2022-08-29 14:59] yaelberger-commits opened #832 "Set a default daily SMS limit per live service"
_Set a default daily SMS limit per live service _

## Description

As a Sender, I need to be able to send text message notifications and know the daily limit so that I don't have failed messages.

As a Notify Admin, I need to be able to limit the number of text message parts a Sender can send in a day, and enforce that limit per service, to reduce risk of an incident and control the daily throughp

[2022-08-29 16:59] sastels commented on #703
Checked out on prod, no server errors now. This should reduce the clutter on #notification-ops  :tada:

[2022-08-29 17:44] YedidaZalik commented on #548
We'll resume once we have dev input. When we're ready here is our
- [journey mapping to date](https://miro.com/app/board/uXjVO6TPyIs=/)
- tentative content in [yellow block](https://docs.google.com/spreadsheets/d/1lHSM3_ajYvcmY_SAR7MFjoMtVsH4YOw-fzIvlcqICEg/edit?pli=1#gid=58374374)

[2022-08-30 14:25] amazingphilippe commented on #583
Manage page for template folder has been fixed in https://github.com/cds-snc/notification-admin/pull/1244

[2022-08-30 17:26] sastels opened #833 "Add Slack notifications for failing releases"
## Describe the bug

A release failed and we didn't know about it. We should all some more Slack alerts to let us know.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)
SEV-2

## Impact

Code could be partially released without us knowing, which could cau

[2022-08-30 17:44] YedidaZalik opened #834 "Clarify sending flow to one recipient only"
As a user who is sending to only one recipient or sending a test message to myself, I need to quickly understand how to fill variables in the template.

WHY are we building?
There may be times when the user is sending to only one recipient. As well, users may send to themselves as a test, especially when they are new to Notify.

WHAT are we building?
Process that is easily understood by users and

[2022-08-30 18:31] amazingphilippe commented on #834
![image.png](https://images.zenhubusercontent.com/614b439e980ccd4137400d3e/7d421fec-3c88-444f-87ae-7fe6de753b29)

[2022-08-30 18:45] jimleroyer commented on #769
Note: the way the service agreement URL is setup at the moment is that each service would have their own specific one. It's not a global one for all services.

[2022-08-30 18:58] #485 closed

[2022-08-30 18:58] #570 closed

[2022-08-30 19:25] yaelberger-commits opened #835 "SPIKE: How might we make senders aware before they go over their daily/annual text message limits?"
_SPIKE: How might we make senders aware before they go over their daily/annual text message limits? _

## Description

As a Notify sender, I need Notify to tell me how many message parts I'm about to send, before I send them, so that I can stay within my daily and annual SMS limits and keep to the SLA, and shorten my templates ~~or spread out my batches to send fewer SMS at a time.~~ Notify should

[2022-08-30 19:47] yaelberger-commits commented on #769
Ah thanks @jimleroyer!
Let's get rid of it all then :)

[2022-08-30 19:49] yaelberger-commits commented on #681
Out of scope for our team

[2022-08-30 21:50] YedidaZalik commented on #419
First pass at [itemizing content in policy docs](https://docs.google.com/spreadsheets/d/1Xs4KlhNkB0Box28nsKU2heexnL1wvTSvcAI4o0bC2no/edit#gid=0). Next, I'll assess/consider other ways to organize this doc.
In meantime, attaching in case it's helpful for current thinking around policy docs (the "Notes" column) @yaelberger-commits @sharlychan-cds
Pls feel free to edit/change info in this doc, and/or

[2022-08-30 22:27] adriannelee commented on #448
Halfway through logging findings from _Trial to live process (Feb 2021)_

[2022-08-30 23:24] YedidaZalik commented on #267
@sharlychan-cds and I finalized stmt with help from Nisa. Attached here[](https://docs.google.com/document/d/1v16uAbITpXYLoX5_C3yRu0F7DbKB536H/edit#heading=h.3znysh7)
Sent to translation with request to return by Sept 6
Need to get list of other services ready to link

[2022-08-31 13:16] sastels commented on #415
should include queries to find what users to send to.

[2022-08-31 16:35] jimleroyer commented on #800
This was just released to production. I QA'ed using different countries.

The requests hitting the API went through for both Canada and USA.

The requests hitting the API failed for India, UK, China, Belarus.

![image.png](https://images.zenhubusercontent.com/614b3e364039e00aa3137935/12ccf8f2-0976-4ead-a584-d5fc69682cf8)

![image.png](https://images.zenhubusercontent.com/614b3e364039e00aa3137935/f

[2022-08-31 17:18] yaelberger-commits commented on #321
Prioritize this work in September so we can be ready to validate all usability fixes by end of October.

[2022-08-31 17:19] yaelberger-commits commented on #679
Prioritize this work in September so we can be ready to validate all usability fixes by end of October.

[2022-08-31 18:08] yaelberger-commits opened #836 "[Onboarding] Welcome back STEPHEN M !!!"
# Description

Here are some tasks to go through that should help you get to know the team and product better to be able collaborate with the team.

Present checklist is here to help us track progress and completion of this.

**Done when** :  New team member says so ! Should have had the time to digest info, connect with team and the access needed are granted

#  Read and discover **(the following

[2022-08-31 18:58] amazingphilippe commented on #741
A11y checks done with ARC toolkit and Axe. Found 1 bug, already fixed in another PR. Moving this to done.

[2022-08-31 19:47] yaelberger-commits opened #837 "Set default daily SMS message part limit per Live service to 1,000"
_Set default daily SMS message part limit per live service to 1,000_

## Description

As a Notify sender, I need to be able to send many SMS messages in a day to many recipients so that I can notify people about various things.

As a Notify admin, I need to be able to limit the number of SMS message parts a sender can send in a single day or in a minute, so that I can ensure the stability and reli

[2022-08-31 20:23] jzbahrai commented on #730
tested in prod wit both api keys (old + new)

[2022-09-01 13:04] amazingphilippe commented on #574
This was the main focus of this story: #606

[2022-09-01 13:47] andrewleith commented on #814
@yaelberger-commits, are we differentiating between user types here?  I.e. one rule for federal clients and another for PTM?

[2022-09-01 14:18] yaelberger-commits commented on #797
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/797?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-09-01 14:21] andrewleith commented on #797
If there is a single, fixed expiry, is this as simple as setting an expiration policy on the bucket or a folder? (https://docs.aws.amazon.com/AmazonS3/latest/userguide/lifecycle-expire-general-considerations.html)

[2022-09-01 14:38] yaelberger-commits commented on #656
Think about services that would warrant exceptions to the daily, and annual limits and what the criteria is for making an exception

[2022-09-01 14:54] yaelberger-commits commented on #256
@jimleroyer and @sastels can you please let me know if we still need this card or if it's already covered by the work we're doing on WAF?

[2022-09-01 14:54] jimleroyer commented on #256
@sastels Let's sync on this issue when we both have time!

[2022-09-01 15:04] yaelberger-commits opened #838 "Implement validation of prefix in API keys"
_Implement validation of prefix in API keys_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user sto

[2022-09-01 15:29] yaelberger-commits opened #839 "Rework SMS pipeline for priority lanes to make it more similar to emails"
_Rework SMS pipeline for priority lanes to make it more similar to emails_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome

[2022-09-01 15:31] jimleroyer commented on #782
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/782?planning-poker) with Zenhub @jzbahrai @sastels @andrewleith

[2022-09-01 17:22] yaelberger-commits commented on #814
Great question @andrewleith!
@sharlychan-cds do you have any insights into whether the policies should be different for PTMs or federal accounts?
Any practical reasons why we should hold onto any data even after an account has been deleted?

[2022-09-01 17:26] yaelberger-commits commented on #642
Isn't this already possible? @andrewleith

[2022-09-01 17:31] yaelberger-commits commented on #687
This could fall under Growth's mandate. I'm leaning towards iceboxing it for now @YedidaZalik

[2022-09-01 17:32] yaelberger-commits commented on #427
@sharlychan-cds is Dan or another member of the Platform Policy team now taking this on? Perhaps we could icebox it from our backlog if that's the case

[2022-09-01 18:23] andrewleith commented on #642
Lol.. yes. I'm not sure why I created this ticket! Closing...

[2022-09-01 18:23] #642 closed

[2022-09-01 20:20] YedidaZalik commented on #775
Also include in the update email:
- for security reasons and to protect privacy, all file content is now deleted after 7 days, whether sent as a link or an attachment.

[2022-09-01 20:54] sharlychan-cds opened #840 "SPIKE: Consider increasing retention limits for files uploaded as a link"
## Description
We lowered the retention of files uploaded to AWS and attached as a link to 7 days to be more consistent with our messaging around retaining data for only 7 days. For user experience, we should increase this retention limit but we need more research to be done.

As a notification recipient, I need to be able to download an attachment in the link.

WHY are we building?
WHAT are we bu

[2022-09-01 21:35] jimleroyer commented on #836
We might need to customize this onboarding for Steve M. because he already knows many of this. Let's check with him when he gets in what would be useful.

[2022-09-02 00:58] adriannelee commented on #448
Finished going through the session notes and updating the Airtable 👍 Putting this back in the sprint backlog in case I have some time before the end of the sprint to pick this back up.

[2022-09-02 14:23] andrewleith commented on #835
Just making a note of some of the investigation outcomes we may want to revisit outside of this work:
- Bulk API sending does not check daily limits, but the celery task that sends the notification does, resulting in the system correctly respecting the daily limits but API users not knowing the send didn't take place
- CSV sending through the the UI checks daily limits differently than UI one-off/

[2022-09-02 22:17] jimleroyer commented on #256
Talked with @sastels and decided it is ok to drop this one. It would add some value but not sufficient for the required effort.

[2022-09-02 22:19] jimleroyer commented on #797
@andrewleith Yes.

[2022-09-02 22:29] jimleroyer commented on #420
@yaelberger-commits Yes it's more complex. @sastels suggested that we might add the list of valid endpoints for now in the code of admin. So we wouldn't implement anything in GCArticles yet... but that would require a code changes for new pages in GCArticles, hence a required dev intervention but increased security. We can discuss about this next week.

[2022-09-02 22:30] jimleroyer commented on #725
It should be super easy to generate a HTML file for emails notification as this is what our markdown code will generate anyway.

[2022-09-06 12:09] yaelberger-commits commented on #818
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/818?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-09-06 13:44] yaelberger-commits commented on #385
@amazingphilippe could @YedidaZalik be the reviewer and copy-paster?

[2022-09-06 20:42] smcmurtry commented on #836
Looks like this item just links to a google drive folder: `[Story point estimation](https://drive.google.com/drive/folders/1XsaIgkZNUEluFmhAW5azaevzPjKfOGdC)`

Does anyone know what the correct link is?

[2022-09-06 22:10] jimleroyer commented on #836
@smcmurtry I think that would refer to this video recording when Yael explained our story point estimation in Notify:
https://drive.google.com/file/d/1d2offGEmop4dMZFrCQGPKPqMNoK7n9NW/view?usp=sharing

[2022-09-06 22:13] jimleroyer commented on #836
Just fixed the link within the template as well:
https://github.com/cds-snc/notification-planning/pull/841

[2022-09-07 12:37] yaelberger-commits commented on #267
Back from translation Sept. 6, with @amazingphilippe for FR content review

[2022-09-07 12:41] yaelberger-commits commented on #415
@sharlychan-cds Can you please also review? I will be reviewing today as well

[2022-09-07 13:03] yaelberger-commits commented on #254
Leave for a week on Count before setting it to Block

[2022-09-07 13:07] yaelberger-commits commented on #267
Yedida will publish, along with supporting doc and security statement on GC Articles today

[2022-09-07 13:11] yaelberger-commits commented on #763
Adrianne working with devs on which questions we'd like to answer with this data

[2022-09-07 13:12] sastels commented on #580
has a small bug we should fix

[2022-09-07 14:14] jimleroyer opened #842 "Collect email bounce rate per service"
# Description

As a ops lead,
I need the bounce rate per service,
So that I can track which service might represent a reliability risk within Notify.

As a service owner,
I need the bounce rate for my service,
to avoid getting shutdown by Notify's admins
and track my distribution list health.

## WHY are we building?

Scale more by allowing services to have bigger limit increase without risking No

[2022-09-07 14:14] jimleroyer opened #843 "Surface service bounce rate for emails to users"
# Description

As a service owner,
I need to know the bounce rate for my service,
to avoid getting shutdown by Notify's admins
and track my distribution list health.

As an ops lead,
I need to know the bounce rate for individual services,
So that I can take proactive actions with service owners before their service gets shutdown.

Related incident https://docs.google.com/document/d/1cUHn1P9UXHuFDr

[2022-09-07 14:15] jimleroyer opened #844 "Implement service emergency break on bounce rate"
_Give your user story a simple, clear title_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user sto

[2022-09-07 14:17] jimleroyer opened #845 "Write ADR on bounce rate emergency brake"
# Description

As a Notify developer,
I need to document how the bounce rate will work and apply,
So that I can answer the how and what on the bounce rate emergency break epic.

## WHY

To document and explore our options around bounce rate emergency break.

## WHAT

An [architectural decision record](https://github.com/cds-snc/notification-adr/blob/main/records/20xx-xx-xx.TEMPLATE.md).

## VALUE

[2022-09-07 14:29] yaelberger-commits commented on #838
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/838?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels

[2022-09-07 14:38] yaelberger-commits opened #846 "Request increase in # of longcodes from AWS"
_Request increase in # of longcodes from AWS_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user st

[2022-09-07 14:40] yaelberger-commits commented on #340
Redundant

[2022-09-07 14:40] yaelberger-commits commented on #340
Redundant

[2022-09-07 14:45] amazingphilippe opened #847 "Instructions for variables can be confused"
## Describe the bug

In https://github.com/cds-snc/notification-admin/pull/1316

We introduced instructions for conditional variables that looked like a radio input field. This helps understand and reinforce the concept of conditional variables.

Unfortunately, nothing prevents you to name a string and conditional variable with the same name. Take this template as an example:
[code]

The bug: Whic

[2022-09-07 15:00] yaelberger-commits commented on #837
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/837?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @amazingphilippe

[2022-09-07 16:18] adriannelee commented on #321
Research docs: https://drive.google.com/drive/folders/1hp6JyMGfOb5J4LvraC5VlXTTXuZjjXzt

Blocked: sent the invite to translation - due date is for Sept 14

[2022-09-07 18:12] yaelberger-commits opened #848 "SPIKE: Should we support file attachment in link mode?"
_SPIKE: Should we support file attachment in link mode?_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If t

[2022-09-08 12:58] sastels commented on #668
We can wait till Jumana is back to merge and finish this off

[2022-09-08 13:24] jimleroyer opened #849 "Make the bearer token optional for API callbacks"
# Description

As a user of Notify,
I want the bearer token from the API callback to be optional,
So that I can leverage my Azure SAS authentication without getting impeded by the bearer token authentication.

## WHY are we building?

To support authentication use cases that only requires the URL and no bearer token necessary.

## WHAT are we building?

Making the bearer token field optional in th

[2022-09-08 14:42] yaelberger-commits opened #850 "[Stale] GC Articles is supported"
_GC Articles is supported_

## Description

Our team either needs access and training to maintain GC Articles for Notify, or we need others to help support GC Articles for our use.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, the

[2022-09-08 16:02] jimleroyer opened #851 "Automated the list of new changes in Terraform PRs"
# Description

As a ops lead responsible for Notify releases,
I would like to have the Terraform changes automatically listed in release PRs,
So that I avoid mistakes, document changes and am 100% aware of which changes will go in.

## WHY are we building?

Automate and make less mistakes.

## WHAT are we building?

Something similar to what the PR bot does for us in the manifests repository.

##

[2022-09-08 16:03] jimleroyer commented on #851
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/851?planning-poker) with Zenhub @jzbahrai @sastels @andrewleith @smcmurtry

[2022-09-08 16:11] adriannelee commented on #392
Oh I thought I left a comment on this yesterday 😆

Before today:
- completed the research plan
- drafted the invite email
- sent the invite mail to translations (due by Sept 14th)

Today:
- drafted the privacy statement and sent to translations (due by Sept 15th)
- I also decided to split the emailing into 2 - the first to decision makers, for them to get back to us by Oct 10th. Then when I get ba

[2022-09-08 17:28] #828 closed

[2022-09-08 17:49] #606 closed

[2022-09-08 17:49] #817 closed

[2022-09-08 17:49] #703 closed

[2022-09-08 17:49] #794 closed

[2022-09-08 17:49] #741 closed

[2022-09-08 17:50] #574 closed

[2022-09-08 17:50] #800 closed

[2022-09-08 17:50] #159 closed

[2022-09-08 19:35] YedidaZalik commented on #385
Security statement now on GC articles at
[EN Security-new](https://articles.alpha.canada.ca/notification-gc-notify/wp-admin/post.php?post=344&action=edit&lang=en)
[FR Securite-new](https://articles.alpha.canada.ca/notification-gc-notify/wp-admin/post.php?post=377&action=edit&lang=fr)

I've done a check of both docs but they need to be reviewed by a fresh set of eyes.  The original google docs are:

[2022-09-08 19:50] YedidaZalik commented on #267
Privacy statement now on GC articles at
[EN -Privacy notice for staff using GC Notify](https://articles.alpha.canada.ca/notification-gc-notify/wp-admin/post.php?post=363&action=edit&lang=en)
[FR -Avis de confidentialité à l’intention du personnel utilisant GC Notification](https://articles.alpha.canada.ca/notification-gc-notify/wp-admin/post.php?post=381&action=edit&lang=fr)
along with their 2 sup

[2022-09-09 12:23] YedidaZalik commented on #548
After mtg with one of the services, in consultation with @yaelberger-commits we'll also include the following content:
- Services can see their daily and annual limits in their service settings. Letting users know that if they try to send above their daily limit they will see failed messages is very good info to include.
- How long we keep our records of delivery
- Hard limits. We don't have the a

[2022-09-09 13:25] sastels commented on #240
Left: remove the document download frontend pod from the k8s cluster: merge
https://github.com/cds-snc/notification-manifests/pull/1200,
check that staging still works, and release.

After that we can archive the repo.

[2022-09-09 14:30] yaelberger-commits opened #852 "Increase the security, reliability and usability of Notify to fix critical issues."
## Key Results
- [ ] We fix 80% of the critical a11y compliance requirements identified in the A11y Airtable. We disclose any critical a11y issues we are unable to fix in our Accessibility Statement

- [ ] We fix 80% of the critical bilingual issues or inequalities identified in the backlog. We have a process in place to audit, find and fix untranslated content in the product, both on public pages

[2022-09-09 17:33] smcmurtry commented on #701
This bug does not only occur when you visit the url directly. For me it occurs when I click the "Preview" button: https://youtu.be/EkV8S_e9mDo

[2022-09-09 18:30] yaelberger-commits commented on #832
Closed, duplicate of #837

[2022-09-09 18:30] #832 closed

[2022-09-09 18:51] yaelberger-commits commented on #759
@andrewleith I think this is the same as #784 so I will close this one

[2022-09-09 18:52] #759 closed

[2022-09-09 19:08] yaelberger-commits commented on #700
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/700?planning-poker) with Zenhub @amazingphilippe @adriannelee @YedidaZalik @sharlychan-cds

[2022-09-09 19:11] yaelberger-commits commented on #312
Moved to Icebox as Growth team is now more responsible for web content for Notify

[2022-09-09 19:12] yaelberger-commits commented on #688
@jimleroyer Should we timebox this as an investigation to decide which of the above options to take?

[2022-09-12 12:07] andrewleith opened #855 "Unable to send to simulated email addresses using TEAM api keys"
## Describe the bug

The [docs state](https://documentation.notification.canada.ca/en/testing.html#smoke-testing) that any API key type can be used to send to the simulated addresses but this currently does not work with team keys.

### [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
SEV-3 low, the user can generate a TEST key to conduct smoke t

[2022-09-12 13:06] yaelberger-commits commented on #415
Sharly and Yael completed reviews. Yedida will send doc and templates for translation.

[2022-09-12 13:07] yaelberger-commits commented on #415
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/415?planning-poker) with Zenhub @amazingphilippe @sastels @sharlychan-cds @YedidaZalik

[2022-09-12 13:13] yaelberger-commits commented on #722
Waiting 1 week in QA to monitor

[2022-09-12 13:14] yaelberger-commits commented on #491
Ready to merge after code freeze.

[2022-09-12 13:15] yaelberger-commits commented on #491
Steve M and Jimmy will QA today

[2022-09-12 13:16] yaelberger-commits commented on #392
In translation until next week

[2022-09-12 13:19] yaelberger-commits commented on #797
Steve M picked this one up on Friday

[2022-09-12 13:21] yaelberger-commits commented on #847
PR up that could use review

[2022-09-12 13:22] yaelberger-commits commented on #548
Meeting on Thursday with Jumana for dev sync

[2022-09-12 13:24] yaelberger-commits commented on #763
157 responses in total. Adrianne will be working with the data and working on the presentation today

[2022-09-12 13:28] amazingphilippe commented on #556
This one is fixed in https://github.com/cds-snc/notification-admin/pull/1257

[2022-09-12 13:28] #556 closed, assigned to amazingphilippe

[2022-09-12 13:29] amazingphilippe commented on #562
Fixed in https://github.com/cds-snc/notification-admin/pull/1257

[2022-09-12 13:29] #562 closed

[2022-09-12 13:31] amazingphilippe commented on #665
Can we add a bit more details or screenshots to know where this is happening?

[2022-09-12 13:40] YedidaZalik commented on #502
@amazingphilippe @yaelberger-commits it's fairly plain language, but if you could give me another time boxed day, I think we could tweak a few things and reorganize a bit.

[2022-09-12 14:33] YedidaZalik commented on #415
Sent to translation, target return date October 3.

[2022-09-12 15:00] jimleroyer commented on #842
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/842?planning-poker) with Zenhub @sastels @jzbahrai @andrewleith

[2022-09-12 15:00] jimleroyer commented on #842
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/842?planning-poker) with Zenhub @smcmurtry

[2022-09-12 15:09] jimleroyer commented on #843
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/843?planning-poker) with Zenhub @sastels @smcmurtry @jzbahrai @andrewleith

[2022-09-12 15:18] amazingphilippe commented on #385
Reviewed and ready for Dave to clear cache on Article's side

[2022-09-12 15:20] jimleroyer commented on #844
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/844?planning-poker) with Zenhub @sastels @smcmurtry @jzbahrai @andrewleith

[2022-09-12 15:28] amazingphilippe commented on #267
Reviewed and ready for Dave to clear cache on Article's side

[2022-09-12 16:49] yaelberger-commits commented on #329
More in the Growth bucket now

[2022-09-12 19:42] ramya-cds commented on #855
Freshdesk ticket - https://cds-snc.freshdesk.com/a/tickets/9587

[2022-09-12 20:19] smcmurtry commented on #491
I QA'd with a screenreader and the bug appears to be fixed! I checked both sent email and the email preview.

Original Bug: https://youtube.com/shorts/o9hvwjgowxI
Fixed after applying the code in this PR: https://youtube.com/shorts/U-io4hg8TZ0

[2022-09-12 20:31] YedidaZalik opened #856 "Publish and link to pre-existing Github versions of Privacy and Security statements in both FR and EN"
Our current privacy and security statements each link to a web page with the previous version.
Before the previous version, Notify published even earlier versions that may be of interest for policy and research.

We should link to those versions and publishing them in Github is sufficient:

Full github history of changes here:

Privacy: https://github.com/cds-snc/notification-admin/commits/f309913

[2022-09-12 21:08] jimleroyer opened #857 "Enforce AWS WAF anonymous ruleset to block"
# Description

As a Notify stakeholder,
I want to reduce the fuzzy attack on Notify,
so that our software is less discoverable with vulnerabilities
and only allow legit traffic to the web application.

## WHY are we building?

Limit the fuzzy attacks on Notify.

## WHAT are we building?

Set the [WAF anonymous ruleset](https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-i

[2022-09-12 21:13] jimleroyer opened #858 "Enforce AWS WAF core ruleset to block"
# Description

As a Notify stakeholder,
I want to reduce the fuzzy attack on Notify,
so that our software is less discoverable with vulnerabilities
and only allow legit traffic to the web application.

## WHY are we building?

Limit the fuzzy attacks on Notify.

## WHAT are we building?

Set the [WAF core ruleset](https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-baseli

[2022-09-12 21:21] jimleroyer commented on #858
We should do one more monitoring round and close this issue once confirmed it's working correctly.

[2022-09-12 22:01] jimleroyer commented on #420
Currently in count mode for monitoring until Sept 15th (1 week monitoring period).

[2022-09-13 12:32] yaelberger-commits commented on #491
Flag for me when complete and I will notify clients who reached out about this issue

[2022-09-13 12:56] yaelberger-commits opened #859 "Update documentation to include guidelines when calling the API"
_Update documentation to include guidelines when calling the API_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

- [ ] watch for the status code in responses
- [x] throttling
- [x] bulk api

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with th

[2022-09-13 20:42] jimleroyer commented on #839
We can revisit the design as well for throttled SMS queue.

Basically, all services with an associated long code will go through >>one<< celery worker that will process the SMS throttled queue at a rate of 1 notification every 2 seconds: it applies for all dedicated long code. That means that if several services send at the same time a burst of SMS all using dedicated codes, even different, they'r

[2022-09-14 12:37] andrewleith opened #860 "Inconsistent notification counts"
## Describe the bug

1. When using the admin dashboard, you can get differing notification counts than what a user may expect when using various filters.
2. When using a service dashboard, the count of notifications is different on the dashboard and the details pages.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
SEV-3

## Details
### Stat

[2022-09-14 13:04] yaelberger-commits commented on #491
PRs ready to be released this morning

[2022-09-14 13:04] adriannelee commented on #392
The invite came back from translations. Privacy statement will likely come back tomorrow

[2022-09-14 13:06] adriannelee commented on #763
Wrap up working on the presentation and present today! Might do a quick part 2 / update later on for the text analysis.

[2022-09-14 13:07] yaelberger-commits commented on #797
Some help from Pat yesterday, PR ready for review

[2022-09-14 13:14] yaelberger-commits commented on #498
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/498?planning-poker) with Zenhub @amazingphilippe

[2022-09-14 13:15] yaelberger-commits commented on #359
Yael and Sharly will review at 1:1

[2022-09-14 13:16] yaelberger-commits commented on #763
Might do an update on free-text comments tomorrow

[2022-09-14 14:15] yaelberger-commits opened #861 "No Reply"
As we scale and grow, we may receive more recipient replies and this increases risk

- [ ] Add new feature to allow services to customize their own no-reply template
- [x] Content update to No-reply template to send to canada.ca
- [ ] Require a reply-to address for all services, or some portion of services

[2022-09-14 14:36] jimleroyer commented on #847
Released in production, tested and working!

[2022-09-14 14:39] yaelberger-commits opened #862 "SPIKE: Explore if we can add link to Canada.ca resources from our Contact Us page"
_SPIKE: Explore if we can add link to Canada.ca resources from our Contact Us page_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y

[2022-09-14 14:45] yaelberger-commits opened #863 "Add sms daily limit to api"
_Break out daily notification limit into 2 parts (SMS and email)_

## Description

Add sms daily limit to backend [API]

- [x] add `sms_daily_limit` to database
- [x] add `sms_daily_limit` to service model
- [x] track the number of message parts the service has sent that day
- [x] compare the number sent to the limit
  - [x] send warnings appropriately
  - [x] do not send the sms if the service is

[2022-09-14 14:51] yaelberger-commits opened #864 "Break out daily notification limit into 2 parts (SMS and email) [ADMIN]"
_Break out daily notification limit into 2 parts (SMS and email) [ADMIN]_

## Description

Add sms daily limit to service settings page [ADMIN]
https://docs.google.com/document/d/1ia232MhD_C_xQVHpHii0wYcStW87A80mCgwcjFHDmpY/edit#

- [x] Add sms message limit to static service settings at top of page
- [x] Add sms message limit to modifiable platform admin settings
- [x] Get french changes reviewed

[2022-09-14 15:44] yaelberger-commits opened #865 "Design: Make limits more visible"
_Make limits more visible _

## Description

As a Notify Sender, I need to be able to track how many text messages I've sent today so that I can plan to send more sms messages within my limits.

As a Notify Sender, I need to be able to track how many text messages I have left for the day so that I don't get cut off from sending text message notifications mid-job.

Respecting our infrastructure cap

[2022-09-14 15:45] yaelberger-commits opened #866 "Embedded guidance for users about SMS parts and message length"
_Embedded guidance for users about SMS parts and message length_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achiev

[2022-09-14 15:49] yaelberger-commits opened #867 "Character counter in templates"
_Character counter in templates_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user story emerged f

[2022-09-14 15:50] jimleroyer commented on #420
Block mode is deployed in staging. We will test today if that works as expected and following successful results, deploy tomorrow in production.

[2022-09-14 15:51] jimleroyer commented on #254
Block mode is deployed in staging. We will test today if that works as expected and following successful results, deploy tomorrow in production.

[2022-09-14 15:55] jimleroyer commented on #491
Deployed in production.

[2022-09-14 18:15] andrewleith commented on #694
As a workaround, you should be able to use the following to get the desired output:

[code]

[2022-09-15 13:00] andrewleith opened #868 "Create new email templates for daily SMS limit warnings/stoppages"
Create a new email template for when a warning a service they are approaching their limit, for letting them know their service is suspended when they reach their limit, and for when they change their limits via settings.

Note: These templates will need to be "configurable" to say either "email limit" or "sms limit" as appropriate.

## Description

Given a user is close to going over their daily S

[2022-09-15 13:06] yaelberger-commits commented on #726
Added two above bullet points to user Story template as per Mohamed's suggestion

[2022-09-15 17:41] yaelberger-commits commented on #551
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/551?planning-poker) with Zenhub @adriannelee @amazingphilippe @YedidaZalik

[2022-09-15 17:54] amazingphilippe opened #869 "Clients get notified when their service gets suspended"
_Give your user story a simple, clear title_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

If this user sto

[2022-09-15 17:55] amazingphilippe opened #870 "Design UI for clients trying to access a suspended service"
_Give your user story a simple, clear title_

## Description

As a (user), I need to be able to do (X) so that I can achieve (Y) outcome.

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

- [ ] Generate a

[2022-09-15 19:12] yaelberger-commits commented on #689
Duplicate Epic, closed

[2022-09-15 19:12] #689 closed

[2022-09-16 12:31] yaelberger-commits opened #871 "Increase the security, reliability and usability of Notify to fix critical issues."

[2022-09-16 12:32] #871 closed

[2022-09-16 12:35] yaelberger-commits opened #872 "Complete all jobs while maintaining SLOs as demand increases."
## Key Results
- [ ] Free SMS limit is raised from 25,000 to 100,000 for all services with no related downtime or lost messages and 5 services send 50,000 SMS a day while we continue to meet our SLOs.

- [ ] Our throughput is increased so that Notify can reach 90% of the rate limits for emails and SMS per second set by AWS with no alarms or dropped notifications.

- [ ] Notify can handle 3 live se

[2022-09-16 12:42] yaelberger-commits opened #873 "Understand the needs of potential PTM clients and have a plan in place to update the service to address these needs"
## Key Results
- [x] We will have run a discovery.

- [x] We will have gathered insights into new use cases and volume/speed needs of potential new clients at the PTM levels.

- [x] We will have a plan (in the form of a roadmap, story map or backlog) to meet the size and shape of that demand.

~~- [ ] We will start to modify Notify to meet those demands while piloting with 3 new P/T partners.~~

F

[2022-09-16 12:51] yaelberger-commits commented on #433
Contributing to the qualitative side of this is the [SLO survey](https://docs.google.com/presentation/d/1hdvWDBFWXS4PDMDtjQ7U3Wwh9DDhMMGdTTllLCKW-vA/edit#slide=id.p) Adrianne completed and the [Notify Live Services Airtable](https://airtable.com/appCP2c4xvXxQOfhN/tblsVsQjmKv1vY8VK/viw2UcRQKP5Ctm8s6?blocks=hide) Elise started and that's being updated by Yael, Yedida and Ramya

[2022-09-16 13:32] yaelberger-commits commented on #491
@jimleroyer Can I let the users know about the fix then and move this to done after that?

[2022-09-16 15:14] yaelberger-commits commented on #745
I'd like to Icebox this one. Platform may use ours as a template now that it's been created

[2022-09-16 20:01] yaelberger-commits commented on #868
@andrewleith I think we have the content for this covered in another card. Is this card for the dev implementation of those new templates?

[2022-09-16 20:01] jimleroyer commented on #491
@yaelberger-commits yes absolutely!

[2022-09-16 20:02] yaelberger-commits commented on #868
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/868?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-16 20:03] yaelberger-commits commented on #868
cc @amazingphilippe and @YedidaZalik that we will need content for each of these 3 new templates. To be covered in #366

[2022-09-20 11:33] andrewleith commented on #868
@yaelberger-commits yes this was intended to cover the DEV work to implement the new templates that would cover both sms limits and email limits (vs. the existing ones that just cover one global limit).

[2022-09-20 11:58] andrewleith commented on #658
Just a note that we are meeting with SRE this week re:renovate which will hopefully take care of at least a portion of this work.

[2022-09-20 12:38] yaelberger-commits commented on #491
I responded to all three support tickets about this bug that it's been fixed. Closing the ticket

[2022-09-20 12:46] yaelberger-commits commented on #845
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/845?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-20 12:47] yaelberger-commits commented on #822
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/822?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-20 13:53] jzbahrai opened #874 "Tech Debt: Fix queries in CloudWatch for log insights"
## Description

We have queries here: https://ca-central-1.console.aws.amazon.com/cloudwatch/home?region=ca-central-1#logsV2:logs-insights
We want to update/ clean and add more queries here.

## Acceptance Criteria** (Definition of done)
- [ ] Clean up the queries in log insights
- [ ] Add these queries to terraform so that the queries are available in both staging and production.

[2022-09-20 15:36] adriannelee commented on #763
Chatted with Andrew and Jeana about how to best calculate the expected volume.

Decided we need more clarity on the why before we determine the 'how'. Booked a meeting for when both Yael and I are back from vaca. Will put back into the product backlog till then.

[2022-09-20 15:42] yaelberger-commits commented on #558
This user story for A11y will not be completed for this set of OKRs, so we should disclose it in our Accessibility Statement.

[2022-09-20 15:42] yaelberger-commits commented on #761
Blocked due to time and capacity constraints

[2022-09-20 15:43] yaelberger-commits commented on #778
Blocked due to time and capacity constraints until 2023

[2022-09-20 15:46] yaelberger-commits commented on #565
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/565?planning-poker) with Zenhub @amazingphilippe @andrewleith @smcmurtry @YedidaZalik

[2022-09-20 15:55] yaelberger-commits commented on #327
DECISION: This step in the flow is to check variables, sending list, CSV and there are better and mutiple opportunities before getting to this stage where users can more easily edit their template. Recommend iceboxing.

[2022-09-20 17:59] YedidaZalik commented on #548
Attaching notes from [Sept 7 meeting](https://docs.google.com/document/d/1WhurXvvh1qTYMJSd9L4UkcD62SUHWQmcTmwYLUnWLK0/edit#heading=h.t590zkk6ho4l)

[2022-09-21 13:05] jimleroyer commented on #420
This was deployed in production yesterday. We will monitor for a week before considering it to done.

[2022-09-21 13:06] jimleroyer commented on #858
Moving to done since this is in production since 3 weeks.

[2022-09-21 13:07] yaelberger-commits commented on #498
Ready to merge into staging and then can do a bit of QA in staging

[2022-09-21 13:07] jimleroyer commented on #254
This was deployed in production yesterday. We will monitor for a week before considering it to done.

[2022-09-21 13:08] yaelberger-commits commented on #559
PR ready for review

[2022-09-21 13:08] jimleroyer commented on #722
Moving to done since this is in production since 2 weeks.

[2022-09-21 13:11] yaelberger-commits commented on #722
Run QA tests in Prod

[2022-09-21 13:15] yaelberger-commits commented on #797
Send comms out when ready, then give a week for users to adjust their operations to the new retention limit.
Release feature first week of October.

[2022-09-21 13:15] patheard commented on #658
I did some research on Renovate's support for transitive dependency trace comments and it doesn't provide this.  However, it is able to consume a pip-compile `requirements.in` dependency file using the [following config](https://docs.renovatebot.com/modules/manager/pip-compile/#non-configured-filematch):
[code]

[2022-09-21 13:16] yaelberger-commits commented on #153
Unblocked by deploy yesterday and investigation was completed

[2022-09-21 13:19] yaelberger-commits commented on #688
Jumana working on it and exploring what others do in this scenario

[2022-09-21 13:20] yaelberger-commits commented on #865
Update queries to get the data over to ADMIN
Do this today to be able to give data over to Phil

[2022-09-21 13:20] yaelberger-commits commented on #865
Need to sync on requested vs delivered
Don't update limits until after notifications have been sent. User might send over their limits

[2022-09-21 13:21] yaelberger-commits commented on #865
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/865?planning-poker) with Zenhub @andrewleith @sastels @smcmurtry

[2022-09-21 13:28] yaelberger-commits commented on #548
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/548?planning-poker) with Zenhub @jimleroyer @YedidaZalik @sastels

[2022-09-21 13:28] yaelberger-commits commented on #548
Jimmy and Steve confirmed values and refined some baselining numbers. Can hand off to Yedida next.

[2022-09-21 13:32] sastels opened #875 "Production app fetching images from staging"
## Describe the bug

On production we're fetching some of our images from staging rather than production.

Loading logged out home page:

![image.png](https://images.zenhubusercontent.com/614cd50770420efff7535b31/ad8dec6c-c356-4a4a-90ff-19e158b13b9a)

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-2 - c

[2022-09-21 15:29] yaelberger-commits commented on #803
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/803?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-21 15:33] jimleroyer commented on #803
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/803?planning-poker) with Zenhub @jzbahrai @sastels @patheard

[2022-09-21 15:36] yaelberger-commits opened #876 "Add support SLOs to Contact Us form confirmation page"
_Add support SLOs to Contact Us form confirmation page_

## Description

As a Notify user, I need to know how quickly my request, question or issue will be addressed by the Notify team, so that I can update stakeholders, resolve a problem, carry on using Notify etc.

WHY are we building?
We want to be more explicit with our users about our service levels for support so they know what to expect.

W

[2022-09-21 15:43] jimleroyer opened #877 "Upgrade our Redis engine version from 6.2.5 to 6.2.6"
# Description

As a ops lead of Notify,
I want to upgrade the Redis engine version to the latest,
So that I can avoid hiccups that an automatic upgrade could cause happening during day time if we don't update on our own terms (at appropriate downtime period).

## WHY are we building?

To avoid hiccups on our Redis cluster.

Also, to do and test it ourselves before AWS does it automatically (see [d

[2022-09-21 15:47] yaelberger-commits commented on #551
c @amazingphilippe @YedidaZalik The forms team has been working on escalation paths and have documented theirs here. This could be a good pattern for us to follow for suspending a service
https://docs.google.com/document/d/1CxfOUivb4tBtD-7Y2BZydM-r3rITgaz-q9OwbNz2_Fk/edit?usp=sharing

[2022-09-21 15:55] yaelberger-commits commented on #864
@jzbahrai can you please complete the checklist and estimation for this one?

[2022-09-21 15:56] yaelberger-commits commented on #864
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/864?planning-poker) with Zenhub @jzbahrai

[2022-09-21 15:58] yaelberger-commits commented on #346
@amazingphilippe @YedidaZalik Have we completed this task with all of our new guidance and getting started section? Can I close this one?

[2022-09-21 17:08] yaelberger-commits commented on #134
This is now covered in our more recent Objectives, closing this one

[2022-09-21 17:08] #134 closed

[2022-09-21 17:10] yaelberger-commits commented on #141
I think this is covered by our Airtable and our Service Reporting Spreadsheet.
Closing

[2022-09-21 17:11] #141 closed

[2022-09-21 17:14] yaelberger-commits commented on #22
Closing

[2022-09-21 17:14] #22 closed

[2022-09-21 18:21] yaelberger-commits commented on #248
GC Notify sends large numbers of messages en masse.
We can send up to X number of messages per minute.

[2022-09-22 14:00] smcmurtry commented on #366
I copied the content from the existing emails into this google doc: https://docs.google.com/document/d/1xSR4eZc3lmihl8Z2Ib-_tPg1cxhwOu0nsU_IcixZh9g/edit#heading=h.p3jb1gwvgmuc

@YedidaZalik can you update the doc with the new SMS specific content? When done I will add it to my PR.

[2022-09-22 14:23] jimleroyer commented on #748
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/748?planning-poker) with Zenhub @jzbahrai @sastels @andrewleith @smcmurtry

[2022-09-22 14:35] yaelberger-commits commented on #732
For UI, could use review apps to demo feature
For backend changes, we don't have review apps.
Use Feature flags? But then we have to clean up later.

[2022-09-22 14:46] sastels commented on #877
Will need to have the staging kubectl issue fixed before we can connect to the staging redis.

[2022-09-22 14:47] yaelberger-commits commented on #732
Spread over 2 sprints
1) cover backend work for emergency break, but don't apply it yet. Send emails to the team first to let us know this would be a suspension, but not actually suspending
2) Focus on UI, once up and ready we implement emergency break for real

[2022-09-22 14:47] yaelberger-commits commented on #732
Spread over 2 sprints
1) cover backend work for emergency break, but don't apply it yet. Send emails to the team first to let us know this would be a suspension, but not actually suspending
2) Focus on UI, once up and ready we implement emergency break for real

[2022-09-22 14:49] yaelberger-commits commented on #869
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/869?planning-poker) with Zenhub @amazingphilippe @YedidaZalik

[2022-09-22 14:55] yaelberger-commits commented on #822
We're allowed 20 msg/sec, but we're at 10
Jimmy will ask for 10 more

[2022-09-22 14:55] sastels commented on #822
We can rerun the [baseline queries](https://docs.google.com/spreadsheets/d/1G8Eno3FkISdaZf_ySgDHiURnUZyJiz0CqErqC7iRCLk/edit#gid=642403157) to see our current rate

[2022-09-22 14:57] yaelberger-commits commented on #658
Some overlap with Renovate dependency tracker

[2022-09-22 15:18] yaelberger-commits commented on #792
Thinking a lightweight content solution to start in spreadsheet documentation, a paragraph or so outlining the constraint, saying most will default UTF 8, if you need assistance Contact Us
cc @YedidaZalik

[2022-09-22 15:40] sastels commented on #837
Query to find services that have sent more than 1000 message parts in a day
[code]

Finds 10 services.

[2022-09-22 18:28] yaelberger-commits opened #878 "Integrate Renovate"
Integrate Renovate

[2022-09-22 18:29] yaelberger-commits opened #879 "Renovate for notification-utils"
# Description

As an ops lead,
I want Notify to use renovate,
So that is up to date with latest libraries
and dependencies management best practices.

## WHY are we building?

Security, best practices, maintenance.

## WHAT are we building?

Integration of renovate within our repository.

## VALUE created by our solution

Security, best practices, maintenance.

# Acceptance Criteria** (Definition

[2022-09-22 18:29] yaelberger-commits opened #880 "Renovate for notification-api"

[2022-09-22 18:29] yaelberger-commits opened #881 "Renovate for notification-admin"

[2022-09-22 18:29] yaelberger-commits opened #882 "Renovate for notification-document-download-api"

[2022-09-22 18:29] yaelberger-commits opened #883 "Renovate for notification-manifests"

[2022-09-22 18:30] yaelberger-commits opened #884 "Renovate for notification-terraform"

[2022-09-22 18:30] yaelberger-commits opened #885 "Renovate for notification-pr-bot"

[2022-09-22 18:30] yaelberger-commits opened #886 "Renovate for notification-documentation"

[2022-09-22 19:15] yaelberger-commits opened #887 "Email daily limit for all services MVP"
As a Notify Sender, I am confused about my daily limits and what they're for, so I need clarity and certainty about my email daily limits so that I can plan my sending accordingly, and know when I need to reach out to ask for an increase.

Why are we building
Because we introduced a daily SMS limit, our daily notification limit no longer really makes sense and would be less confusing if we also ha

[2022-09-22 19:15] yaelberger-commits commented on #887
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/887?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry @amazingphilippe

[2022-09-22 19:19] sastels commented on #863
https://github.com/cds-snc/notification-api/pull/1589
https://github.com/cds-snc/notification-utils/pull/132
https://github.com/cds-snc/notification-api/pull/1588

[2022-09-22 19:25] sastels commented on #863
We aren't doing any limit validation for csv / bulk yet

[2022-09-22 19:27] jimleroyer commented on #877
@sastels Hence why I was asking around about this issue. ;)

But we're good now, we can proceed.

[2022-09-22 21:09] YedidaZalik commented on #366
@smcmurtry @yaelberger-commits @amazingphilippe
I made some changes to the doc using the edit function and I'm also attaching the card with the content for the PR`https://docs.google.com/document/d/16xXBXlE6GXxI-ZaeepR4zrs0c561szatAaBx73ixris/edit`

Reading through the content again, I'm not sure it's clear. I'd like to work on it more and take it to critique. Once the work for this sprint is done

[2022-09-22 21:09] YedidaZalik commented on #366
@smcmurtry @yaelberger-commits @amazingphilippe
I made some changes to the doc using the edit function and I'm also attaching the card with the content for the PR`https://docs.google.com/document/d/16xXBXlE6GXxI-ZaeepR4zrs0c561szatAaBx73ixris/edit`

Reading through the content again, I'm not sure it's clear. I'd like to work on it more and take it to critique. Once the work for this sprint is done

[2022-09-23 14:44] smcmurtry commented on #744
This bug has also cropped up on the "Review before sending" screen for a CSV send, since we introduced [remove ellipses for a11y reasons](https://github.com/cds-snc/notification-admin/pull/1335).

<img width="1247" alt="Screen Shot 2022-09-22 at 4 47 04 PM" src="https://user-images.githubusercontent.com/5498428/191987723-6f033c37-3cca-4add-a510-dd9c826d1018.png">

[2022-09-23 14:56] yaelberger-commits commented on #797
Email sent out September 23
Feature to be rolled out in prod Oct 3, 2022

[2022-09-23 14:56] yaelberger-commits commented on #797
Email sent out September 23
Feature to be rolled out in prod Oct 3, 2022

[2022-09-26 13:08] amazingphilippe commented on #559
Reviewed and merge. QA in the next release

[2022-09-26 13:09] amazingphilippe commented on #498
Reviewed and merge. QA in the next release

[2022-09-26 13:11] yaelberger-commits commented on #868
draft PR up, existing content into a Google doc, @YedidaZalik working on content. Need a final decision
text message/text message parts

[2022-09-26 13:16] yaelberger-commits commented on #866
Ready for another review. Does an exact calculation unless CSV is really big (1,000 rows or less, over 1,000 rows it's an approximation. Could be updated easily)
Language might need to be undated pending other decisions.
FR is there too from Google doc

[2022-09-26 13:17] yaelberger-commits commented on #359
Resolve comments then hand back to Jimmy

[2022-09-26 13:18] yaelberger-commits commented on #268
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/268?planning-poker) with Zenhub @sharlychan-cds

[2022-09-26 16:06] sastels opened #888 "Add "New and upcoming features" page"
## Description

As a service owner, I need to know what changes to Notify have been made or are upcoming so that I can plan my use of Notify accordingly.

## Acceptance Criteria** (Definition of done)

We have and maintain a "New and upcoming features" page

- [ ] Generate appropriate log messages so that executions of this feature can be tracked
- [ ] Can misuse of this feature cause harm? If yes

[2022-09-26 16:06] smcmurtry opened #889 "Bug - Our AWS Pull Request Review App throws an error when uploading a CSV"
After trying to upload a CSV in our PR review app, I see the "Sorry, we’re experiencing technical difficulties" page.

Sentry logs the following errors:
[ClientError main.send_messages](https://sentry.io/organizations/canadian-digital-service/issues/3420796750/?project=1522933&referrer=slack)
and
[Unable to upload file to S3 bucket notification-canada-ca-staging-csv-upload
](https://sentry.io/orga

[2022-09-26 17:59] smcmurtry commented on #887
I'm estimating high since we will also need to update the 3 email templates related to this: "you've sent 80% of your limit", "you reached your limit", "your limit was changed"

[2022-09-26 19:53] sastels opened #890 "api lambda configuration inconsistant"
api lambda gets most of its configuration from the encrypted variable files in the [manifest repo](https://github.com/cds-snc/notification-manifests), but some comes from the [terraform repo](https://github.com/cds-snc/notification-terraform/blob/main/aws/lambda-api/lambda.tf#L23-L44).

From Pat:

https://github.com/cds-snc/notification-terraform/blob/main/aws/lambda-api/lambda.tf#L23-L44
and then

[2022-09-27 14:01] YedidaZalik opened #891 "Explore combining Home page, Features and Why GC Notify page"
As a user, I need to be able to easily refresh my memory when using Notify.
As a potential user, I need to be able to easily understand the main features and benefits of using GC Notify so that I can decide whether to choose it for my team.

WHY are we building?
We think there may be a problem because we receive support tickets about content that is on the public site

Eg. The heading "Skip the pr

[2022-09-27 14:41] sastels opened #892 "Check sms daily limit for bulk and one-off sends"
## Description

In the bulk upload we are checking how many message you can send today
https://github.com/cds-snc/notification-api/blob/main/app/v2/notifications/post_notifications.py#L165
We just need to add a check for message parts there too.

For the csv uploads admin checks when you upload the file
https://github.com/cds-snc/notification-admin/blob/main/app/main/views/send.py#L676

## Accepta

[2022-09-27 15:29] sastels opened #893 "Content for warning / over sms daily limit emails"
## Description

We need emails for users approaching / over their sms daily limit. For the general message limit we have

and

## Acceptance Criteria** (Definition of done)

- [ ] new template content created or old one redesigned
- [ ] migration to add new templates or change old ones to add appropriate variables
- [ ] templates used in the code

## QA Steps

- [ ] warning template sent
- [ ] ove

[2022-09-27 15:59] jzbahrai commented on #892
After a discussion with Jimmy and Yael I have stopped working on this card. The first part is somewhat implemented, but we need to add tests for it. The second part is left. If anyone else picks up this ticket - please use this branch :
https://github.com/cds-snc/notification-api/pull/1606

[2022-09-27 18:06] smcmurtry opened #894 "Make SMS parts visible on the dashboard"

[2022-09-27 18:09] smcmurtry commented on #894
Start by adding a "Today's usage" section to the top of the dashboard:
![Screen Shot 2022-09-27 at 2.08.16 PM.png](https://images.zenhubusercontent.com/63176b6f863fa9b22e9eee20/f7cf9810-e536-4659-8db5-0d3b906f89a0)

[Figma link](https://www.figma.com/file/VRqRRfX7Ko5ssg2VryVVET/Dashboard-%7C-Tableau-de-bord?node-id=1464%3A6965)

[2022-09-27 18:16] yaelberger-commits commented on #867
@amazingphilippe I think this task is already covered by the work being done on the Review before sending page?

[2022-09-27 19:47] yaelberger-commits commented on #867
Needs dev implementation

[2022-09-27 19:54] smcmurtry commented on #894
Duplicate of https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/865

[2022-09-27 19:54] #894 closed

[2022-09-27 20:07] smcmurtry commented on #865
UI work on the dashboard in progress:
![Screen Shot 2022-09-27 at 4.05.39 PM.png](https://images.zenhubusercontent.com/63176b6f863fa9b22e9eee20/78bd9f50-f4a4-4864-bbd6-1a93a6102fb3)

[2022-09-27 20:12] #893 closed

[2022-09-27 21:46] jimleroyer commented on #722
Tested rate limit on production admin and it worked:

![image.png](https://images.zenhubusercontent.com/614b3e364039e00aa3137935/440aca30-5b0c-44de-99e3-e16f287d8f18)

![image.png](https://images.zenhubusercontent.com/614b3e364039e00aa3137935/846ecf69-6f6f-4f08-8eaa-5a04ecb2d5ee)

![image.png](https://images.zenhubusercontent.com/614b3e364039e00aa3137935/7460a951-fb6e-45d8-aae3-6f331ee1c036)

Test

[2022-09-28 12:58] yaelberger-commits commented on #863
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/863?planning-poker) with Zenhub @amazingphilippe @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-28 12:58] yaelberger-commits commented on #583
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/583?planning-poker) with Zenhub @amazingphilippe

[2022-09-28 13:06] yaelberger-commits commented on #892
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/892?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-28 13:07] yaelberger-commits commented on #892
Use utils to do some stuff.
Won't let someone send 50,000 sms, will limit to 1,000 but might be more message parts.

[2022-09-28 13:08] yaelberger-commits commented on #863
PR related needs review

[2022-09-28 13:11] yaelberger-commits commented on #583
Phil needs to fix some tests. Changes titles and tests are breaking, good sign...

[2022-09-28 13:12] yaelberger-commits commented on #868
Other piece of related content going to Content Critique this morning. Ensuring everything is consistent today.
Steve M made progress
PR doesn't have to wait on content, can edit the templates later. Unblocks PR, ready for review some time today

[2022-09-28 13:14] yaelberger-commits commented on #865
Steve M has a PR in progress to add numbers to dashboard
Andrew put up a PR this morning to get data from API

[2022-09-28 13:17] yaelberger-commits commented on #866
Going to content critique this morning
Will need @amazingphilippe on FR content review to follow

[2022-09-28 13:19] yaelberger-commits commented on #359
Sharly resolved comments, but two more spots to add content and another review needed
Some decisions needed

[2022-09-28 13:22] yaelberger-commits commented on #268
Sharly will meet with Kayla soon to accept comments

[2022-09-28 13:24] yaelberger-commits opened #895 "Clarify file retention link email and documentation"

[2022-09-28 13:24] yaelberger-commits commented on #895
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/895?planning-poker) with Zenhub @amazingphilippe @YedidaZalik @sastels @jimleroyer

[2022-09-28 18:43] andrewleith opened #896 "Redirect api.notification.alpha.canada.ca to official URL"
# Description

As a (user), I need to be automatically redirected to the primary production notify site if I try to access the old alpha URL.

Use a `CNAME` record to update `api.notification.alpha.canada.ca` to point to to our official URL, `api.notification.canada.ca`.

DNS terraform file for alpha:

- https://github.com/cds-snc/dns/blob/0bd3672835e4cea3a5a5fbb79b91562275714652/terraform/notific

[2022-09-28 19:09] sastels opened #897 "Bug: Can still send if would go over sms message part limit"
## Describe the bug

Can still send a big text even if it would make you go over the limit

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-3 Low

## To Reproduce (Staging)

Steps to reproduce the behavior:

1.  Lower your sms limit to 2
2. Choose a big sms template
3. Click "Send to yourself"
4. See "Yo

[2022-09-29 17:26] amazingphilippe commented on #887
We can update the template with a variable for notification type. Hopefully with minimal changes to those templates.

[2022-09-29 17:56] amazingphilippe opened #898 "Accents in service names stripped from email "Friendly From""
## Describe the bug

Accents are stripped from the "Friendly From" field in emails

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-3 Impacts bilingualism and recipient UX

## To Reproduce

Steps to reproduce the behavior:

1. Put accents in your service name
2. Send yourself a test messages
3. Accents a

[2022-09-29 17:56] #269 closed

[2022-09-29 17:56] #835 closed

[2022-09-29 17:56] #82 closed

[2022-09-29 17:56] #864 closed

[2022-09-29 17:56] #668 closed

[2022-09-29 17:56] #491 closed

[2022-09-29 17:56] #858 closed

[2022-09-29 17:56] #385 closed

[2022-09-29 17:56] #847 closed

[2022-09-29 17:56] #580 closed, assigned to smcmurtry

[2022-09-29 18:29] yaelberger-commits commented on #35
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/35?planning-poker) with Zenhub @andrewleith @jimleroyer @jzbahrai @sastels @smcmurtry

[2022-09-29 19:08] jimleroyer commented on #35
Good idea, let's just name the column in a clear way and with documentation so we know its intent. We could also regenerate the database documentation afterward:
https://cds-snc.github.io/notification-documentation-database/

[2022-10-03 13:03] YedidaZalik commented on #559
Part of release last week and Phil already checked

[2022-10-03 13:03] YedidaZalik commented on #498
Already checked and released

[2022-10-03 13:03] YedidaZalik commented on #588
Already checked and released

[2022-10-03 13:05] patheard commented on #879
Now that the Renovate schedule has been expanded to run over the weekend, dependency bump PRs were successfully created.

[2022-10-03 13:05] YedidaZalik commented on #879
@jimleroyer  has to test for 4th completion criteria and he's the second set of eyes bc Pat opened

[2022-10-03 13:06] YedidaZalik commented on #153
Leaving to run for a couple weeks, has run for around a week, need to check if counted traffic
@jimleroyer ran QA and it's working for more than a week now

[2022-10-03 13:07] sharlychan-cds commented on #359
Ready for @YedidaZalik review

[2022-10-03 13:10] YedidaZalik commented on #254
Keep in QA because observed last week that not blocking as much as we hoped
@jimleroyer working on tests - could go back to in progress

[2022-10-03 13:13] YedidaZalik commented on #722
@jimleroyer ran tests and can move to done

[2022-10-03 13:16] YedidaZalik commented on #868
This is merged. So dev side is done, waiting for final content.
Should go through QA steps and @sastels  will take on.

[2022-10-03 13:20] YedidaZalik commented on #863
Everything done
Should be QA'd with other cards at same time - needs a whole end-to-end test.
A few things could be QA'd.  @sastels to add steps.

[2022-10-03 13:23] YedidaZalik commented on #877
Done - unless someone can check version in prod.
@jzbahrai will take it on.

[2022-10-03 13:24] YedidaZalik commented on #688
Good progress on Thursday.  Possible issue with deployment to Kubernetes - @jzbahrai did another deployment on Thursday night, but still doing more.

[2022-10-03 13:27] YedidaZalik commented on #895
Sent content to translation
Will ask folks to review when back and add document.
Expected back on Weds.

[2022-10-03 13:28] YedidaZalik commented on #583
PR is in for review, tests passing.

[2022-10-03 13:29] YedidaZalik commented on #359
Ready for content design.

[2022-10-03 13:30] YedidaZalik commented on #268
@sharlychan-cds working on and will chat OCIO in next day or so.

[2022-10-03 15:25] YedidaZalik commented on #656
**Sprint planning document to be used at Stand-up and EOD summaries in hackathon channel**

To determine at Sprint Planning:

- What pieces are completed
**Dev work**
**Design work **
Still in progress, see below

- What pieces are left to do
**Designs work examples** (check if anything to add at meeting):
(1) Dashboard - distinguish btwn day and week more clearly #865
(2) Review page - contact hi

[2022-10-03 16:42] andrewleith commented on #877
#### Staging - output from `INFO` in `redis-cli` ✅
[code]

#### Production - output from `INFO` in `redis-cli` ✅
[code]

[2022-10-03 17:15] YedidaZalik commented on #548
@YedidaZalik to create contact to link SLOs to other pages.

[2022-10-03 17:43] andrewleith commented on #863
Looks good!

[2022-10-03 22:04] jimleroyer commented on #896
PR https://github.com/cds-snc/dns/pull/276

[2022-10-04 14:29] jzbahrai opened #899 "Investigate: Fix Duplicate Issue for Notifications"
## Description

Seeing duplicate errors when we send notifications through the bulk saving function.

- Change error handling to send notifications to a dead letter queue?
-  We shouldnt have a loop that takes from expired and sends to inbox and back again
- Ticket https://app.zenhub.com/workspaces/notify-planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/669 is related
- This

[2022-10-04 14:36] sastels commented on #897
Will be handles in #892

[2022-10-04 15:01] YedidaZalik commented on #837
Scoped into other cards. Closing for now.

[2022-10-04 15:01] #837 closed

[2022-10-04 15:19] jimleroyer opened #900 "Qualtrics survey integration for growth (in staging only)"
# Description

As a team member from the growth team,
I would like to run a survey with Notify users,
So that I can better address Notify needs in terms of growth.

As a team member of Notify,
I would like to know more about our users in a continuous
and open a communication channel with them,
So that I can set the direction of Notify toward our users' needs.

## WHY are we building?

Help out the

[2022-10-04 15:19] smcmurtry opened #901 "Extract SMS limit dev work for V2 release behind a new feature flag"
# Description

The goal of this task is to remove V2 work from behind the existing feature flag (`FF_SPIKE_SMS_DAILY_LIMIT`) so that we will be able to isolate the features we want as part of a our V1 SMS limit release.

We can create a new feature flag `FF_SMS_PARTS_UI`.

# To do

- [x] PR to add the new feature flag in notification-manifests similar to [#1248](https://github.com/cds-snc/notifica

[2022-10-04 15:21] jimleroyer commented on #900
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/900?planning-poker) with Zenhub @jzbahrai @sastels @smcmurtry @andrewleith

[2022-10-04 20:19] ramya-cds opened #902 "Missing ISO 8601 documentation link in English version of API documentation"
## Describe the bug
Missing ISO 8601 documentation link in English version of API documentation

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
SEV-4 - Low - no impact to users but the link exists in the French version of API documentation

## To Reproduce

a. Launch browser and type "https://notification.canada.ca/"
b. Click on "API documen

[2022-10-04 21:50] andrewleith opened #903 "ADMIN caches `None` response from GC Articles under certain conditions"
# Describe the bug

When the GC Articles cache is due to be refreshed and GC Articles is down at the same time, Notify may cache a None response for the menus, leading to the site crashing on all GCArticles pages.

# [Bug Severity

SEV-2 Major

# To Reproduce

Steps to reproduce the behavior:

* Manually set the corresponding cache keys for GCArticles menu to `None`.
* Locally run GCNotify admin,

[2022-10-05 12:44] andrewleith opened #904 "Identify which queries the dashboard and statistics pages use"
## Description

Analyze the dashboard and statistics pages to help make it easier to include sms parts later.

## Acceptance Criteria** (Definition of done)

- [x] List queries for each part of the dashboard page
- [x] List queries for each statistic page

[2022-10-05 12:49] andrewleith commented on #904
There are 5 different queries used across the Dashboard (`services/{svc_id}`) and stats pages (`services/{svc_id}/monthly`, `services/{svc_id}/template-usage`, `services/{svc_id}/jobs`)

Details: https://docs.google.com/document/d/1B4Ic0OY90X4xiGarPagCeSEdugcYQWsA8NsTJj-iwVQ/edit?usp=sharing

[2022-10-05 13:03] YedidaZalik commented on #868
Has been released.

[2022-10-05 13:05] amazingphilippe commented on #868
Blocked until we get the translations back

[2022-10-05 13:06] YedidaZalik commented on #583
Ready for review when there's time.

[2022-10-05 13:06] YedidaZalik commented on #892
@amazingphilippe and @andrewleith to review

[2022-10-05 13:08] YedidaZalik commented on #896
In progress, Jimmy is working on it

[2022-10-05 13:09] amazingphilippe commented on #565
Started the audit in https://www.figma.com/file/alnDnSW1Efi3Lae3uHf6Pj/Component-library-%7C-Biblioth%C3%A8que-de-composantes?node-id=3616%3A1521

[2022-10-05 13:10] YedidaZalik commented on #548
Translation will send next week

[2022-10-05 13:11] YedidaZalik commented on #688
@jzbahrai made good progress, now working on Kubernetes to confirm if actually working
Will keep working on it
Will discuss with @sastels

[2022-10-05 13:11] YedidaZalik commented on #359
Yedida to work on tomorrow.

[2022-10-05 13:12] YedidaZalik commented on #401
@sharlychan-cds will do it today and also mnth-end for Sept

[2022-10-05 13:12] YedidaZalik commented on #268
Sharly working on and in contact with OCIO

[2022-10-05 13:14] YedidaZalik commented on #857
To release this morning and then Jimmy will move to QA

[2022-10-05 13:28] smcmurtry opened #905 "SMS V1 release - bug bash"
This card is to track the overall testing of the features that are part of the SMS Limits V1 release.

- We are testing new restrictions on SMS sending.
- Services can now only send a limited number of SMS messages a day. After that they are blocked with an appropriate error message.
- If you run out of SMS messages, you should still be able to send emails.

- You will need:
    -  a Notify accoun

[2022-10-05 14:14] jimleroyer commented on #900
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/900?planning-poker) with Zenhub @amazingphilippe

[2022-10-05 15:26] jimleroyer opened #906 "Notify our users about Daily limit V2, Release 2"
# Description

As a user of Notify,
I would like to know what latest changes around daily limits entail,
So that I can understand better how it applies to me
And reduce potential confusion around these changes.

As a team member of Notify,
I want to share our recent changes around daily limits,
So that I can help users better understand how the new limits will apply
And have a first communication

[2022-10-05 18:12] jimleroyer opened #907 "ADR: Send a notification via a 3rd party messaging app such as Signal / WhatsApp"
# Description

As a user of GCNotify,
I want to send notifications to a 3rd party message app such as Signal,
So that I can send messages quick and reliably, other than email (not regularly consulted by recipients) or SMS (unreliable and slow).

## WHY are we building?

To broadcast a notification with speed, reliability and getting the recipients attention.

## WHAT are we building?

Integration

[2022-10-05 18:34] YedidaZalik opened #908 "New pages for PT rollout"
As a potential user of GC Notify, I would like to easily find content to determine if this tool corresponds to my use case.

WHY are we building?
So users can easily determine if they are eligible to use Notify and if it's right for their use case.

WHAT are we building?
UK Notify has 2 pages that we might want to consider adding, especially as we move toward PTs:
(1) [Get started](https://www.not

[2022-10-05 23:55] jimleroyer opened #909 "ADR: Dedicate pools of long codes for specific service or use cases"
# Description

As a user of Notify,
I want my own reserved pool of long code,
So that I can get faster speed
and not affect other service sending SMS.

As an ops of Notify,
I want to isolate certain services or use cases for SMS to a group of dedicated long code,
So that I offer these faster speed without affecting other users.

## WHY/WHAT are we building?

A group of long codes, i.e. a dedicated

[2022-10-06 11:25] andrewleith commented on #744
Tested in chrome and firefox, using desktop and mobile viewports.  All works well!

[2022-10-06 14:14] sastels opened #910 "admin one off sms sends over limit"
## Describe the bug

- Can do a manual send that will get you over the limit.
- after that, sends blocked as expected

(SEV-1 Critical, SEV-2 Major, SEV-3 Minor, SEV-4 Low)
SEV-4

## To Reproduce

Steps to reproduce the behavior:

1. Set your sms limit to 10
2. Create a 3 segment template
3. Send it manually in admin four times successfully (12 fragments)

## Expected behavior

Fourth attempt is b

[2022-10-06 16:17] YedidaZalik commented on #895
FR back from Translation: https://docs.google.com/document/d/1upoX-P3AYcAYJ2PtuT0A5jsoZi5tM1HU8jkp3JPBErE/edit#heading=h.gjdgxs

Sending to @amazingphilippe for review

[2022-10-06 17:03] sastels opened #911 "SMS V1 remaining issues"
This card is to track remaining issues we find in the SMS Limits V1 release. Also a place you can check if your bug has already been found!

If you find a bug
- add a bug card for it giving details of how to reproduce
- add a checklist item below linking to it

We can check off the bugs as we fix them

## Issues
- [x] Dev: [admin one off sms sending over limits](https://app.zenhub.com/workspaces/n

[2022-10-06 17:34] sastels opened #912 "/bulk and /sms endpoints don't always send sms"
## Describe the bug

The `/bulk` and `/sms` endpoints create the notification(s) that will bring you to the sms daily limit, but don't actually send them.

## [Bug Severity](https://docs.google.com/document/d/1tcD32bjJRaREsMgaUEoXAk400y1dKzzaKR0G5Sr1w20/edit)
See examples in the documentation

SEV-2

## To Reproduce

Steps to reproduce the behavior:

1. Set your limit to 6
2. Send 4 fragments. Can

[2022-10-06 19:51] jimleroyer commented on #896
We [deployed production changes today](https://github.com/cds-snc/notification-terraform/pull/542) that included additional PRs:

* https://github.com/cds-snc/notification-terraform/pull/539/files
* https://github.com/cds-snc/dns/pull/281

The changes were applied and this time, it worked correctly. We tested if we still receive traffic through the load balancers redirecting to kubernetes with the

[2022-10-07 14:03] jzbahrai commented on #735
https://github.com/mohamed-cds/terraform_test_infrastructure/tree/main/ssm_private_subnet/terraform

[2022-10-11 13:39] YedidaZalik commented on #415
[FR version of guide](https://docs.google.com/document/d/1BwVJ74Nfw2OnoU56Ni9i6K01ehSv6LmHi0ppGkEk7qg/edit#heading=h.gjdgxs) returned last week with a number of issues identified. Communicated with translation team and resolved issues over course of week with help from @sharlychan-cds and @andrewleith

Guide now ready for review by @amazingphilippe

[2022-10-11 13:42] YedidaZalik commented on #868
[Transation back](https://docs.google.com/document/d/18gnEkYKCnWv4YQCgvv5rSnZjdpA5KWyFCKh1HB0zxaM/edit#heading=h.gjdgxs) and ready for review by @amazingphilippe

[2022-10-11 21:43] patheard opened #913 "Infrastructure: add VPC private endpoint"
# Summary

Currently the Notify infrastructure does not have a VPC private endpoint for any of its components.  This means that most requests can potentially be routed onto the Internet, including S3, kubernetes egress, or other components as much desired sweet blazer.

If we add a VPC private endpoint all requests will stay within the AWS network and improve our security and performance.

## Exam

[2022-10-12 12:33] YedidaZalik commented on #548
Translation sent back [FR SLO's](https://docs.google.com/document/d/1vThtPYbEHUlb368OHvdv1Wkqmkskq8OQMf0aA2E8oOs/edit)
Ready for review by @amazingphilippe

[2022-10-12 12:38] jimleroyer opened #914 "Routine: Update renovate dependencies"
# Description

As an ops lead,
I want Notify patched with its dependencies,
So that it is secure and running the latest.

As a GCNotify user,
I want Notify secure,
So that I can trust it.

# Acceptance Criteria** (Definition of done)

Review and update renovate PRs on the following repositories:

### Tasks

- [notification-utils](https://github.com/cds-snc/notification-utils/pulls?q=is%3Apr+is%3Ao

[2022-10-12 13:03] YedidaZalik commented on #813
reviewed already,
release, then QA
@andrewleith to release
release, then QA by @sastels
@A

[2022-10-12 13:05] YedidaZalik commented on #879
@andrewleith will review

[2022-10-12 13:05] YedidaZalik commented on #420
@jimleroyer to do final monitoring today

[2022-10-12 13:08] YedidaZalik commented on #892
Reviewed, merged in staging, found bug and made card for it
Now working on bug - there's a card for that
We have card bug bash as well so subsumed in that as well.
Moving to done.

[2022-10-12 13:10] YedidaZalik commented on #583
@sastels reviewed and merged last week, deployed to prod yesterday
@andrewleith to QA

[2022-10-12 13:12] YedidaZalik commented on #797
We need to release documentation and then send out email
@andrewleith to release this morning and then will send email. Then after 1 week will re-enable expire in prod

[2022-10-12 13:13] YedidaZalik commented on #868
@amazingphilippe reviewed

@smcmurtry to work on today

[2022-10-12 13:14] YedidaZalik commented on #912
PR was reviewed and approved and might fix this also
@sastels will merge into staging and check if fixed

[2022-10-12 13:15] YedidaZalik commented on #910
PR is ready for review
@sastels to review

[2022-10-12 13:18] YedidaZalik commented on #366
@andrewleith would like to pair
@jzbahrai can pair tomorrow

[2022-10-12 13:20] YedidaZalik commented on #897
@sastels noticed this 2 weeks ago, he will take a look at card to check if it's a duplicate

[2022-10-12 13:21] YedidaZalik commented on #857
Focus on WAF rules today
@jimleroyer and @andrewleith to sync

[2022-10-12 13:22] YedidaZalik commented on #901
PRs to implement this have been merged/released
Moving to done

[2022-10-12 13:24] YedidaZalik commented on #901
QA by looking at staging
@sastels to do that

[2022-10-12 13:27] YedidaZalik commented on #688
work in progress
would like to test reliably but difficult - following GDS solution but it may not work

[2022-10-12 13:27] YedidaZalik commented on #359
Yedida has not got to it yet

[2022-10-12 13:28] YedidaZalik commented on #268
Meeting OCIO today

[2022-10-12 13:29] YedidaZalik commented on #392
Some responses are back, compiled in folder
Only one response included someone else we can ask - @adriannelee will follow up
@adriannelee @sharlychan-cds @YedidaZalik meeting today

[2022-10-12 14:07] YedidaZalik commented on #905
Participants
- do they need Notify access
- do they need Admin access
Need instructions we can copy and. paste into channel
Need person to be below msg daily limit - requires admin access

@andrewleith volunteers to be admin
Instructions to be done offline - @sastels to coordinate

[2022-10-12 14:22] YedidaZalik commented on #843
@yaelberger-commits please review esp scoping on this card to just be for emails

[2022-10-12 14:32] amazingphilippe opened #915 "Getting a service suspended journey map"
## Description

Building a journey map to understand all the touchpoints of getting a service suspended. Linked to #842

WHY are we building?
WHAT are we building?
VALUE created by our solution

## Acceptance Criteria** (Definition of done)

_To be refined through discussion with the team_

Given some context, when (X) action occurs, then (Y) outcome is achieved

- [ ] Generate appropriate log mes

[2022-10-12 14:34] amazingphilippe commented on #915
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Notify-Planning-614b3ad91bc2030015ed22f5/issues/cds-snc/notification-planning/915?planning-poker) with Zenhub @adriannelee @jimleroyer @andrewleith @jzbahrai @sastels @sharlychan-cds @YedidaZalik @yaelberger-commits @smcmurtry

[2022-10-12 14:43] YedidaZalik opened #916 "Content audit after release 1.0 for bounce rate"
_Give your user story a simple, clear title_

## Description

As a (user), I need to be able to understand what bounce rate is, so that I can minimize my service's bounce rate.

WHY are we building?
So our users understand the concept of bounce rate and understand what to do about it and what counts towards it
WHAT are we building?
Content that explains this clearly to our users
VALUE created by o